<!-- /templates/collection.liquid -->

{% paginate collection.products by 300 %}



<div id="collection_hero">
  <div class="row clearfix">
    <h1>Shop All</h1>
  </div>
</div>



<div id="page_content">
  <div class="row">
    
      <div class="column_12">
      <div class="collections clearfix">
        {% for product in collection.products %}
{%- comment %}<locksmith:c2be>{% endcomment -%}
  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
{%- comment %}</locksmith:c2be>{% endcomment -%}
{%- include 'bold-product-json', product: product -%}
			
          {% assign name = 'product' | append:product.id %}
          {% assign idNo = name | append:'-no' %}
          {% assign idYes = name | append:'-yes' %}
		  
          {% assign checkedNo = 'checked' %}
          {% assign checkedYes = '' %}
          {% assign opacityClass = '' %}
          {% assign available = true %}

          {% if product.variants[0].inventory_quantity <= 0 %}
          	{% assign available = false %}
          {% endif %}

          {% if shop.customer_accounts_enabled %}
          	{% if customer %}
        		{% assign checkedNo = 'disabled' %}
        		{% assign checkedYes = 'checked' %}
        		{% assign opacityClass = 'opacity-3' %}

        		{% assign available = true %}
        		{% if product.variants[0].inventory_quantity <= 0 %}
        			{% assign available = false %}
        		{% endif %}
        	{% endif %}
          {% endif %}
        
          <div class="collection" id="{{ product.handle }}">
            <div class="collection_header">
              <a href="{{ product.url | within: collection }}">
                <img src="{{ product.featured_image.src | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}">
              </a>
              <div class="collection_action" rel="{{name}}">
                {% if available == true %}
                	<div class="collection_to_cart" rel="{{name}}">ADD TO CART</div>
                	<div class="collection_update">
                      <div class="collection_update_spans clearfix">
                        <span class="collection_minus" rel="{{name}}"></span>
                        <div>
                          <span class="collection_count" id="collection_count_{{product.id}}"></span> IN CART
                        </div>
                        <span class="collection_plus" rel="{{name}}"></span>
                      </div>
                    </div>
                {% else %}
                	<div class="collection_coming_soon"><a href="{{ product.url | within: collection }}#sold-out">SOLD OUT - JOIN WAITLIST</a></div>
                {% endif %}
              </div> <!-- Collection Action End !-->
            </div>
            <div class="collection_body">
              
              <label class="collection_title all-products-product-stars"><a href="{{ product.url | within: collection }}">{{ product.title }}</a> 
                <a href="{{ product.url | within: collection | append: '#anchor-reviews'}}">  <!--- Star Reviews !--->
                  <div class="yotpo bottomLine yotpo-small"
                    data-appkey="1czk4hDZQU9jrmp3MaNi1wqhc05RABHrg6aDSVLd"
                    data-domain="{{shop.permanent_domain | escape }}"
                    data-product-id="{{ product.id }}"
                    data-product-models="{{ product.id }}"
                    data-name="{{ product.title | escape }}"
                    data-url="{{ shop.url }}{{ product.url }}"
                    data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
                    data-description="{{ product.description | escape }}"
                    data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
                  </div>
                </a>
              </label>
      
			{% comment %}
              {% for variant in product.variants %}
                <div><input type="radio"/><span><span class="money" data-product-id="{{ product.id }}">{{ variant.price | money }}</span> <font>{{ variant.title }}</font></span></div>
              {% endfor %}
            {% endcomment %}

              <div class="{{opacityClass}}"><input type="radio" rel="{{product.variants[0].inventory_quantity}}" name="{{name}}" id="{{idNo}}" value="{{ product.variants[0].id }}" class="productNo" {{checkedNo}} checked/><label for="{{idNo}}" onclick="">{{ product.variants[0].price | money }} <font>{{ product.variants[0].title }}</font></label></div>
				
              {% if customer %}
              	<div class="var_checkbox"><input type="radio" name="{{name}}" id="{{idYes}}" value="{{ product.variants[1].id }}" class="productYes" {{checkedYes}}/><label for="{{idYes}}" onclick="">{{ product.variants[1].price | money }} <font>{{ product.variants[1].title }}<small>{% unless customer %}With membership, from $59 / year{% endunless %}</small></font></label></div>
              {% else %}
				<a class="subscribe-to-membership-32-45 subscribe-to-membership membuttonclick free"><div><input type="radio" name="{{name}}" id="{{idYes}}" value="{{ product.variants[0].id }}" class="productYes" {{checkedYes}}/><label for="{{idYes}}" onclick="">{{ product.variants[1].price | money }} <font>{{ product.variants[1].title }} <small>{% unless customer %}With membership of $59 / year{% endunless %}</small></font></label></div></a>
              {% endif %}
             
              
              <!--<div><input type="radio"/><span>$24 <font>Non-Member Price</font></span></div>
              <div><input type="radio"/><span>$3 <font>No Markup (Members Only)<small>With membership, from $10 / month</small></font></span></div>!-->
            </div>
          </div>
        {% endfor %}
      </div> <!-- Collections End !-->
      {% if paginate.pages > 1 %}
        <div class="pagination">
          {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
        </div>
      {% endif %}
    </div>
      </div><!-- Row End !-->
</div> <!-- Page Content End !-->

    {% if collections.imperfect-goods.products.size > 100000 %}
<div id="collection_hero" class="imperfect_hero">
  <div class="row clearfix">
    <div class="hero_content_wrapper">
    	<h1>Imperfect Goods</h1>
      	<h2>Waste not.</h2>
      	<h2>Want not.</h2>
      	<p>Imperfect Goods is our initiative to avoid waste and make good use of surplus inventory. When we first started the brand, we called ourselves Morgans. We’ve updated our name and our look, but kept the quality formulas. Instead of throwing away our Morgans products, we’ve relabeled the bottles and made it available to you at a fraction of the cost. It’s the same premium product but with a less beautiful exterior, saving money and resources.</p>
      	<p>Shop Imperfect Goods below.</p>
    </div>
  </div>
</div>
<div id="page_content">
  <div class="row">
    <div class="column_12">
      <div class="imperfect-goods-prodcuts" >
      {% for product in collections.imperfect-goods.products %}

          {%- comment %}<locksmith:7e5b>{% endcomment -%}
            {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections.imperfect-goods, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
          {%- comment %}</locksmith:7e5b>{% endcomment -%}

          {% assign name = 'product' | append:product.id %}
          {% assign idNo = name | append:'-no' %}
          {% assign idYes = name | append:'-yes' %}
		  
          {% assign checkedNo = 'checked' %}
          {% assign checkedYes = '' %}
          {% assign opacityClass = '' %}
          {% assign available = true %}

          {% if product.variants[0].inventory_quantity <= 0 %}
          	{% assign available = false %}
          {% endif %}

          {% if shop.customer_accounts_enabled %}
          	{% if customer %}
        		{% assign checkedNo = 'disabled' %}
        		{% assign checkedYes = 'checked' %}
        		{% assign opacityClass = 'opacity-3' %}

        		{% assign available = true %}
        		{% if product.variants[0].inventory_quantity <= 0 %}
        			{% assign available = false %}
        		{% endif %}
        	{% endif %}
          {% endif %}
        
          <div class="collection">
            <div class="collection_header">
              <a href="{{ product.url | within: collection }}">
                <img src="{{ product.featured_image.src | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}">
              </a>
              <div class="collection_action" rel="{{name}}">
                {% if available == true %}
                	<div class="collection_to_cart" rel="{{name}}">ADD TO CART</div>
                	<div class="collection_update">
                      <div class="collection_update_spans clearfix">
                        <span class="collection_minus" rel="{{name}}"></span>
                        <div>
                          <span class="collection_count" id="collection_count_{{product.id}}"></span> IN CART
                        </div>
                        <span class="collection_plus" rel="{{name}}"></span>
                      </div>
                    </div>
                {% else %}
                	<div class="collection_coming_soon">SOLD OUT</div>
                {% endif %}
              </div> <!-- Collection Action End !-->
            </div>
            <div class="collection_body">
              <label class="collection_title">{{ product.title }}</label>
              
              <div class="{{opacityClass}}"><input type="radio" rel="{{product.variants[0].inventory_quantity}}" name="{{name}}" id="{{idNo}}" value="{{ product.variants[0].id }}" class="productNo" {{checkedNo}}/><label for="{{idNo}}" onclick="">{{ product.variants[0].price | money }} <font>{{ product.variants[0].title }}</font></label></div>

              <div class="var_checkbox"><input type="radio" name="{{name}}" id="{{idYes}}" value="{{ product.variants[1].id }}" class="productYes" {{checkedYes}}/><label for="{{idYes}}" onclick="">{{ product.variants[1].price | money }} <font>{{ product.variants[1].title }}<small>{% unless customer %}With membership, from $59 / year{% endunless %}</small></font></label></div>
              <a data-billingid="11118" data-planid="2418" data-approot="https://mem.boldapps.net" data-hash="06ac502d0bd77a332cf0c651ceaed93c" data-label="Free 30 Day Trial" data-domain="morgans-dont-run-out.myshopify.com" class="membuttonclick free"><div><input type="radio" name="{{name}}" id="{{idYes}}" value="{{ product.variants[1].id }}" class="productYes" {{checkedYes}}/><label for="{{idYes}}" onclick="">{{ product.variants[1].price | money }} <font>{{ product.variants[1].title }}<small>{% unless customer %}With membership of $59 / year{% endunless %}</small></font></label></div></a>
			  <a data-billingid="10641" data-planid="2237" data-approot="https://mem.boldapps.net" data-hash="e992ecb473cb61b97834158fa7750167" data-domain="morgans-dont-run-out.myshopify.com"  data-label="Join Now" class="membuttonclick paid"><div><input type="radio" name="{{name}}" id="{{idYes}}" value="{{ product.variants[1].id }}" class="productYes" {{checkedYes}}/><label for="{{idYes}}" onclick="">{{ product.variants[1].price | money }} <font>{{ product.variants[1].title }}<small>{% unless customer %}With membership of $59 / year{% endunless %}</small></font></label></div></a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div><!-- Row End !-->
</div> <!-- Page Content End !-->
      {% endif %}

{% if collections.limited-morgans-supply.products.size > 10000 %}
<div id="collection_hero" class="morgans_hero">
  <div class="row clearfix">
    <div class="hero_content_wrapper">
    	<h1>LIMITED MORGANS  SUPPLY</h1>
      	<h2>Why waste it?</h2>
      	<p>Morgans inventory is on-brand quality with an off-brand look. When we first launched, Morgans was our name. Whenever we come across products with old packaging, rather than waste it we offer it to members at an even lower price.</p>
      	<p>Shop Morgans products below.</p>
    </div>
  </div>
</div>
<div id="page_content">
  <div class="row">
    <div class="column_12">
      <div class="imperfect-goods-prodcuts" >
      {% for product in collections.limited-morgans-supply.products %}

          {%- comment %}<locksmith:59b8>{% endcomment -%}
            {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections.limited-morgans-supply, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
          {%- comment %}</locksmith:59b8>{% endcomment -%}

          {% assign name = 'product' | append:product.id %}
          {% assign idNo = name | append:'-no' %}
          {% assign idYes = name | append:'-yes' %}
		  
          {% assign checkedNo = 'checked' %}
          {% assign checkedYes = '' %}
          {% assign opacityClass = '' %}
          {% assign available = true %}

          {% if product.variants[0].inventory_quantity <= 0 %}
          	{% assign available = false %}
          {% endif %}

          {% if shop.customer_accounts_enabled %}
          	{% if customer %}
        		{% assign checkedNo = 'disabled' %}
        		{% assign checkedYes = 'checked' %}
        		{% assign opacityClass = 'opacity-3' %}

        		{% assign available = true %}
        		{% if product.variants[0].inventory_quantity <= 0 %}
        			{% assign available = false %}
        		{% endif %}
        	{% endif %}
          {% endif %}
        
          <div class="collection">
            <div class="collection_header">
              <a href="{{ product.url | within: collection }}">
                <img src="{{ product.featured_image.src | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}">
              </a>
              <div class="collection_action" rel="{{name}}">
                {% if available == true %}
                	<div class="collection_to_cart" rel="{{name}}">ADD TO CART</div>
                	<div class="collection_update">
                      <div class="collection_update_spans clearfix">
                        <span class="collection_minus" rel="{{name}}"></span>
                        <div>
                          <span class="collection_count" id="collection_count_{{product.id}}"></span> IN CART
                        </div>
                        <span class="collection_plus" rel="{{name}}"></span>
                      </div>
                    </div>
                {% else %}
                	<div class="collection_coming_soon">SOLD OUT</div>
                {% endif %}
              </div> <!-- Collection Action End !-->
            </div>
            <div class="collection_body">
              <label class="collection_title">{{ product.title }}</label>
              
              <div class="{{opacityClass}}"><input type="radio" rel="{{product.variants[0].inventory_quantity}}" name="{{name}}" id="{{idNo}}" value="{{ product.variants[0].id }}" class="productNo" {{checkedNo}}/><label for="{{idNo}}" onclick="">{{ product.variants[0].price | money }} <font>{{ product.variants[0].title }}</font></label></div>
				
              <div class="var_checkbox"><input type="radio" name="{{name}}" id="{{idYes}}" value="{{ product.variants[1].id }}" class="productYes" {{checkedYes}}/><label for="{{idYes}}" onclick="">{{ product.variants[1].price | money }} <font>{{ product.variants[1].title }}<small>{% unless customer %}With membership, from $59 / year{% endunless %}</small></font></label></div>
              <a data-billingid="11118" data-planid="2418" data-approot="https://mem.boldapps.net" data-hash="06ac502d0bd77a332cf0c651ceaed93c" data-label="Free 30 Day Trial" data-domain="morgans-dont-run-out.myshopify.com" class="membuttonclick free"><div><input type="radio" name="{{name}}" id="{{idYes}}" value="{{ product.variants[1].id }}" class="productYes" {{checkedYes}}/><label for="{{idYes}}" onclick="">{{ product.variants[1].price | money }} <font>{{ product.variants[1].title }}<small>{% unless customer %}With membership of $59 / year{% endunless %}</small></font></label></div></a>
			  <a data-billingid="10641" data-planid="2237" data-approot="https://mem.boldapps.net" data-hash="e992ecb473cb61b97834158fa7750167" data-domain="morgans-dont-run-out.myshopify.com"  data-label="Join Now" class="membuttonclick paid"><div><input type="radio" name="{{name}}" id="{{idYes}}" value="{{ product.variants[1].id }}" class="productYes" {{checkedYes}}/><label for="{{idYes}}" onclick="">{{ product.variants[1].price | money }} <font>{{ product.variants[1].title }}<small>{% unless customer %}With membership of $59 / year{% endunless %}</small></font></label></div></a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div><!-- Row End !-->
</div> <!-- Page Content End !-->
      {% endif %}


{% if collections.gifts.products.size > 0 %}
<div id="collection_hero" class="imperfect_hero gifts-collection">
  <div class="row clearfix">
    <div class="hero_content_wrapper">
    	<br class="hide-mobile"/><br class="hide-mobile" /><br class="hide-mobile" />
        <br class="hide-mobile"/><br class="hide-mobile"/><br  class="hide-mobile"/>
      <br  class="hide-mobile"/><br  class="hide-mobile"/><br  class="hide-mobile"/>
      <br  class="hide-mobile"/><br  class="hide-mobile"/><br  class="hide-mobile"/>
      <br /><br /><br />
      	<h2>Gifts</h2>
      	
    </div>
  </div>
</div>


<div id="page_content">
  <div class="row">
    <div class="column_12">
      <div class="collections clearfix">
        {% for product in collections.gifts.products %}

           {%- comment %}<locksmith:8b3f>{% endcomment -%}
             {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections.gifts, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
           {%- comment %}</locksmith:8b3f>{% endcomment -%}

           {% assign name = 'product' | append:product.id %}
          {% assign idNo = name | append:'-no' %}
          {% assign idYes = name | append:'-yes' %}
		  
          {% assign checkedNo = 'checked' %}
          {% assign checkedYes = '' %}
          {% assign opacityClass = '' %}
          {% assign available = true %}

          {% if product.variants[0].inventory_quantity <= 0 %}
          	{% assign available = false %}
          {% endif %}

          {% if shop.customer_accounts_enabled %}
          	{% if customer %}
        		{% assign checkedNo = 'disabled' %}
        		{% assign checkedYes = 'checked' %}
        		{% assign opacityClass = 'opacity-3' %}

        		{% assign available = true %}
        		{% if product.variants[0].inventory_quantity <= 0 %}
        			{% assign available = false %}
        		{% endif %}
        	{% endif %}
          {% endif %}
        
          <div class="collection">
            <div class="collection_header">
              <a href="{{ product.url | within: collection }}">
                <img src="{{  product.images[0] | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}">
              </a>
              <div class="collection_action" rel="{{name}}">
                {% if available == true %}
                
                  {% if product.variants.first.sku == "123" %}
                  <a href="{{ product.url | within: collection }}"><div class="collection_to_cart">ADD TO CART</div>
                      <div class="collection_update">
                      </div>
                  </a>
                  {% else %}
                  <div class="collection_to_cart" rel="{{name}}">ADD TO CART</div>
                      <div class="collection_update">
                        <div class="collection_update_spans clearfix">
                          <span class="collection_minus" rel="{{name}}"></span>
                          <div>
                            <span class="collection_count" id="collection_count_{{product.id}}"></span> IN CART
                          </div>
                          <span class="collection_plus" rel="{{name}}"></span>
                        </div>
                      </div>
                  {% endif %}
                {% else %}
                	<div class="collection_coming_soon">SOLD OUT</div>
                {% endif %}
              </div> <!-- Collection Action End !-->
            </div>
            <div class="collection_body">
              <label class="collection_title">{{ product.title }}</label>
              <!--{% for variant in product.variants %}
                <div><input type="radio"/><span><span class="money" data-product-id="{{ product.id }}">{{ variant.price | money }}</span> <font>{{ variant.title }}</font></span></div>
              {% endfor %}!-->
              
              <div class="{{opacityClass}}"><input type="radio" rel="{{product.variants[0].inventory_quantity}}" name="{{name}}" id="{{idNo}}" value="{{ product.variants[0].id }}" class="productNo" {{checkedNo}}/><label for="{{idNo}}" onclick="">{{ product.variants[0].price | money }} <font>(Member / Nonmember)</font></label></div>

<!--               <div><input type="radio" name="{{name}}" id="{{idYes}}" value="{{ product.variants[1].id }}" class="productYes" {{checkedYes}}/><label for="{{idYes}}" onclick="">{{ product.variants[1].price | money }} <font>{{ product.variants[1].title }}</font></label></div> -->

              <!--<div><input type="radio"/><span>$24 <font>Non-Member Price</font></span></div>
              <div><input type="radio"/><span>$3 <font>No Markup (Members Only)<small>With membership, from $10 / month</small></font></span></div>!-->
            </div>
          </div>
        {% endfor %}
      </div> <!-- Collections End !-->
      {% if paginate.pages > 1 %}
        <div class="pagination">
          {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
        </div>
      {% endif %}
    </div>
  </div><!-- Row End !-->
</div> <!-- Page Content End !-->
      {% endif %}


{% endpaginate %}



<script type="text/javascript" language="javascript">
  var member = 0;
  var idNo_modal = '';
  var idYes_modal = '';

  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      member = 1;
    {% endif %}
  {% endif %}

  $(document).ready(function(){
    var modal = $('#customModal');
    var modalDom = document.getElementById('customModal');

    var cart_items = {};

    $('.productYes').click(function(){
      console.log("here2222");
      if(member == 0){
        $("a#membership_button_11118").click();

        // modal.show();
        // $('body').css('overflow', 'hidden');

        var name = $(this).parents('.collection:first').find('.collection_action:first').attr('rel');

        idNo_modal = name + '-no';
        idYes_modal = name + '-yes';
        
        $('#'+idYes_modal).removeAttr('checked');
        $('#'+idNo_modal).prop('checked',true);
      }
    });

    $('.collection_minus').click(function(){
      var object = $(this).parents('.collection_update_spans:first');
      var quantity_object = object.find('.collection_count:first');
      var total_quantity = parseInt(quantity_object.html());
      var name = $(this).attr('rel');
      
      var idNo = name + '-no';
      var idYes = name + '-yes';

      var variantId = $('#'+idNo).val();
      if($('#'+idYes).prop('checked'))
        variantId = $('#'+idYes).val();

      var quantity = find_cart_quantity(variantId, 'minus');

      $.ajax({
        type:'POST', 
        url:'/cart/change.js', 
        data: {id: variantId, quantity: quantity}, 
        dataType: 'json',
        success: function(data){
            setCartItem(variantId, {id: $('#'+idYes).val(), quantity: quantity});
            if(total_quantity > 1)
                quantity_object.html(total_quantity-1);
            else
                get_cart_items();
            
            update_cart_count('minus');
        }
      });  
    });

    $('.collection_plus').click(function(){
      var object = $(this).parents('.collection_update_spans:first');
      var quantity_object = object.find('.collection_count:first');
      var total_quantity = parseInt(quantity_object.html());
      var name = $(this).attr('rel');
      
      var idNo = name + '-no';
      var idYes = name + '-yes';

      var variantId = $('#'+idNo).val();
      if($('#'+idYes).prop('checked'))
        variantId = $('#'+idYes).val();

      var quantity = find_cart_quantity(variantId, 'plus');

      $.ajax({
        type:'POST', 
        url:'/cart/change.js', 
        data: {id: variantId, quantity: quantity}, 
        dataType: 'json',
        success: function(data){
            setCartItem(variantId, {id: $('#'+idYes).val(), quantity: quantity});
            quantity_object.html(total_quantity+1);
            update_cart_count('plus');
        }
      });  
    });

    $('.collection_to_cart').click(function(){
      var name = $(this).attr('rel');
      
      var object = $(this).parents('.collection_action:first');

      var idNo = name + '-no';
      var idYes = name + '-yes';

      var variantId = $('#'+idNo).val();
      if($('#'+idYes).prop('checked'))
        variantId = $('#'+idYes).val();
      
      $.ajax({
        type:'POST', 
        url:'/cart/add', 
        data: {id: variantId}, 
        dataType: 'json',
        success: function(data){
            get_cart_items();
            update_cart_count('plus');
            setCartItem(variantId, {id: $('#'+idYes).val(), quantity: 1});
        }
      });
    });
	
    $('#boldTrigger').click(function(){
    	$('.modal-close').click();
      	$('#checkout_11118 a').click();
    });
    
    $('.modal-close').click(function(){
      modal.hide();
      $('body').css('overflow', 'auto');

      if(idYes_modal != '' && idNo_modal != ''){
        $('#'+idYes_modal).removeAttr('checked');
        $('#'+idNo_modal).prop('checked',true);

        idYes_modal = '';
        idNo_modal = '';
      }
    });

    $(window).click(function(e){
      if (e.target == modalDom){
        modal.hide();
        $('body').css('overflow', 'auto');

        if(idYes_modal != '' && idNo_modal != ''){
          $('#'+idYes_modal).removeAttr('checked');
          $('#'+idNo_modal).prop('checked',true);

          idYes_modal = '';
          idNo_modal = '';
        }
      }
    });

    function get_cart_items(){
        $('.collection_to_cart').show();
        $('.collection_update').hide();
        $('.collection_update').css('opacity', 0);

        $.ajax({
          type:'GET', 
          url:'/cart.js', 
          dataType: 'json',
          success: function(data){
            var items = data.items;

            cart_items = items;

            for(var i in items){
              var temp = [];

              if(items[i].merged)
                continue;

              temp.product_id = items[i].product_id;
              temp.quantity = parseInt(items[i].quantity);
              items[i].merged = true;

              for(var j in items){
                if(i >= j || items[j].merged)
                  continue;

                if(items[i].product_id == items[j].product_id){
                  temp.quantity += parseInt(items[j].quantity);
                  items[j].merged = true;
                }
              }

              var id = 'collection_count_' + temp.product_id;
              $('#'+id).html(temp.quantity);

              var object = $('#'+id).parents('.collection_action:first');
              object.find('.collection_to_cart:first').hide();
              object.find('.collection_update:first').show();
              object.find('.collection_update:first').css('opacity', 1);
            }
          }
        });
    }
    
    $('body').on('afterChangeItem.ajaxCart', function(evt, cart) {
      get_cart_items();
    });

    $('body').on('afterAddItem.ajaxCart', function(evt, cart) {
      get_cart_items();
    });

    function find_cart_quantity(id, action){
        var quantity = 0;
        if(cart_items.length > 0){
            for(var i in cart_items){
                if(cart_items[i].id == id){
                    if(action == 'minus')
                        cart_items[i].quantity -= 1;
                    else if(action == 'plus')
                        cart_items[i].quantity += 1;      

                    quantity = cart_items[i].quantity;

                    break;
                }
            }
        }

        return parseInt(quantity);
    }

    function update_cart_count(action){
        var quantity = parseInt($('#CartCount').html());
        
        if(action == 'minus')
            quantity--;
        else if(action == 'plus')
            quantity++;

        $('#CartCount').html(quantity);
        $('#CartCount_mobile').html(quantity);
    }

    get_cart_items();
    
    $(window).load(function(){
      var match = new RegExp('[?&]cart=([^&]*)').exec(window.location.href);

      var param = match && decodeURIComponent(match[1].replace());

      if(param == 'show'){
          ajaxCart.load();
          timber.RightDrawer.open()
      }
    });
  });
  $(document).ready(function(){
    $("#boldTrigger").click(function(){ 	 
    	amplitude.getInstance().logEvent('all products cta one month free ');
    });   
  })
</script>