<!-- <script>window.location.href= 'pages/open-house'</script> -->

<!-- Bold: Memberships (page) -->
{% include 'bold_mem_helper' with 'page' %}
<!-- end Bold code -->

<!-- <div id="loadOverlay" style="background-color:#fff; position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:2000;"></div> -->
<!-- /templates/page.liquid -->

<div id="mission_hero">
  <img id="mission_hero_background" alt="hero image" class='lazyload heroImage' src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-expand="-10" data-src='https://cdn.shopify.com/s/files/1/0838/7991/files/hero_1_-min.jpg?v=1582750171' />
    <img id="mission_hero_background" alt="hero image" class='heroImageMobile' src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-expand="-10" data-src='https://cdn.shopify.com/s/files/1/0838/7991/files/homepage_image.jpg?19094' />

  <div class="row clearfix">
    <div class="column_6">
       <h1 class="margin_bottom_30">Clean, inside and out.</h1>
      <p class="margin_bottom_40 without-padding hero-main-copy">Just one version of every essential in
                                                  just one place. Healthy. High quality.
                                                  Sustainable and ultra affordable.</p>
<!-- <h1 class="margin_bottom_40">Open house.</h1>
      <p class="margin_bottom_20 without-padding">This week only, shop our healthy,
                                                  <br>eco-friendly goods at a fraction
                                                  <br>of traditional retail cost.</p>
      <p class="margin_bottom_20 without-padding">No strings. No membership.
                                            <br>All access.</p> -->
      {% unless customer %}
          <form id="try-anything-form">
            <div id="planting-trees-hide">
              <input type="email" id="amazon-email" name="email" placeholder="Enter your email."/>
              <p id="email-capture-error">Oops - please enter your email above.</p>
              <button type="submit" id="submit-form">Shop Products</button>
            </div>
            <div id="planting-trees-show">
              <h3 style="padding-bottom:15px;">We’re planting a tree for you!</h3>
            </div>
          </form>
      {% else %}
          <a href="/collections/all-products" class="button inverted">Shop Products</a>
      {% endunless %}
<!--       
        {% unless customer %}<a class="free-trial-btn button inverted button-cta">Free Trial</a>{% endunless %}
        <a style="background-color:#DC886C; color:#fff" href="/collections/all-products" class="home-shop-btn">Shop Products</a> -->
<!--       <div id="hero-buttons">
      {% if customer %}
	     <a href="/collections/all-products" class="home-shop-btn">Browse Products</a>
      {% else %}
    	<a class="subscribe-to-membership-32-45 subscribe-to-membership margin_top_30 button inverted button-cta">Free 30 Day Trial</a>
        <a href="/collections/all-products" class="home-shop-btn browse-prod-btn">Browse Products</a>
      {% endif %}
      </div> -->
      
    </div>
    <div class="text_center margin_top_50 margin_bottom_70">
   <div id="stick-here" class="stick-here"></div>
  
<!--     <a href="/pages/membership" class="button inverted">Join Today</a> -->
         
    </div>
    <!--<img src="{{ 'two.png' | asset_url }}" alt=""/>!-->
  </div>
</div>

<!-- <div id="sticky-button-bottom">
      {% if customer %}
        <div id="stickThis" class="free-tote-second-div" style="width: 100%">
          <a href="/collections/all-products" class="button inverted">Shop Products</a>
        </div>
      {% else %}
        <div id="stickThis" class="free-tote-second-div" style="width: 100%">
          <a class="free-trial-btn free-trial-sticky-btn margin_top_30 button inverted button-cta">Free Trial</a>
        </div>
      {% endif %}
    </div> -->

  <div class="whats-new-container">
    <div class="whats-new-title t">
      <h2>Member Favorites</h2>
    </div>
    <div class="whats-new-products">
        <div class="row">
        <div class="column_12">
          <div class="collections clearfix">
            {% for product in collections.whats-new-homepage.products %}

               {%- comment %}<locksmith:3361>{% endcomment -%}
                 {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections.whats-new-homepage, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
               {%- comment %}</locksmith:3361>{% endcomment -%}

               {% assign name = 'product' | append:product.id %}
              {% assign idNo = name | append:'-no' %}
              {% assign idYes = name | append:'-yes' %}

              {% assign checkedNo = 'checked' %}
              {% assign checkedYes = '' %}
              {% assign opacityClass = '' %}
              {% assign available = true %}

              {% if product.variants[0].inventory_quantity <= 0 %}
                {% assign available = false %}
              {% endif %}

              {% if shop.customer_accounts_enabled %}
                {% if customer %}
                    {% assign checkedNo = 'disabled' %}
                    {% assign checkedYes = 'checked' %}
                    {% assign opacityClass = 'opacity-3' %}

                    {% assign available = true %}
                    {% if product.variants[0].inventory_quantity <= 0 %}
                        {% assign available = false %}
                    {% endif %}
                {% endif %}
              {% endif %}

              <div class="collection">
                <div class="collection_header">
                  <a href="{{ product.url | within: collection }}">
                    <img class='lazyload' src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-expand="-10" data-src="{{  product.images[0] | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}">
                  </a>
                  <div class="collection_action" rel="{{name}}">
                    {% if available == true %}
                        {% if customer %}
                           {% if product.variants.first.sku == "123" %}
                              <a href="{{ product.url | within: collection }}">
                                  <div class="collection_update">
                                  </div>
                              </a>
                           {% else %}
                          <div class="collection_to_cart" rel="{{name}}">ADD TO CART</div>
                           {% endif %}
                        {% else %}
                          <div class="collection_to_cart subscribe-to-membership" rel="{{name}}">ADD TO CART</div>
                        {% endif %}
                        <div class="collection_update">
                          <div class="collection_update_spans clearfix">
                            <span class="collection_minus" rel="{{name}}"></span>
                            <div>
                              <span class="collection_count" id="collection_count_{{product.id}}"></span> IN CART
                            </div>
                            <span class="collection_plus" rel="{{name}}"></span>
                          </div>
                        </div>
                    {% else %}
                        <div class="collection_coming_soon">SOLD OUT</div>
                    {% endif %}
                  </div> <!-- Collection Action End !-->
                </div>
                <div class="collection_body">
                  <label class="collection_title">{{ product.title }}</label>


                  <div><input type="hidden" rel="{{product.variants[0].inventory_quantity}}" name="{{name}}" id="{{idNo}}" value="{{ product.variants[0].id }}" class="productNo" {{checkedNo}}/><label for="{{idNo}}" onclick="">{{ product.variants[0].price | money }}</label></div>

                </div>
              </div>
            {% endfor %}
          </div> <!-- Collections End !-->
          {% if paginate.pages > 1 %}
            <div class="pagination">
              {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
            </div>
          {% endif %}
        </div>
      </div><!-- Row End !-->
    </div>
    <div class="whats-new-buttons">
      {% if customer %}
	     <a href="/collections/all-products" class="home-shop-btn browse-prod-btn customer-signed-in-change-color">Shop Products</a>
      {% else %}
<!-- 		<a class="free-trial-btn home-shop-btn membuttonclick margin_top_30 button inverted button-cta" data-label="home-btn-click">Free Trial</a> -->
        <a href="/collections/all-products" class="home-shop-btn browse-prod-btn" style="border:1px solid #dc886c">Shop Products</a>
      {% endif %}
  </div>

</div>

<div class="margin_top_50">
    <div class="shop-by-category">
<!--       <div class="shop-by-category-title">
        <h2>Shop By Category</h2>
      </div> -->
      <div class="main-categories">
        <div class="main-categories-tile main-categories-pc">
          <div class="main-categories-words">
            <h2>Personal Care</h2>
            <a href="https://www.publicgoods.com/collections/personal-care">shop all</a>
          </div>
         <img class='lazyload tileImage' alt="personal care tile image" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-expand="-10" data-src='https://cdn.shopify.com/s/files/1/0838/7991/files/tile_personal_care.jpg?12413255820896601983'/>
        </div>
        <div class="main-categories-tile main-categories-household">
          <div class="main-categories-words">
            <h2>Home Essentials</h2>
            <a href="https://www.publicgoods.com/collections/household">shop all</a>
          </div>
                   <img class='lazyload tileImage' alt="home essentials tile image" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-expand="-10" data-src='https://cdn.shopify.com/s/files/1/0838/7991/files/tile_household.jpg?12413255820896601983'/>

        </div>
        <div class="main-categories-tile main-categories-food">
          <div class="main-categories-words">
            <h2>Healthy Food</h2>
            <a href="https://www.publicgoods.com/collections/grocery">shop all</a>
          </div>
                   <img class='lazyload tileImage' alt="grocery tile image" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-expand="-10" data-src='https://cdn.shopify.com/s/files/1/0838/7991/files/tile_food.jpg?12413255820896601983'/>

        </div>
         <div class="main-categories-tile main-categories-vitamins">
          <div class="main-categories-words">
            <h2>Vitamins and Supplements</h2>
            <a href="https://www.publicgoods.com/collections/vitamins-and-supplements">shop all</a>
          </div>
                    <img class='lazyload tileImage' alt="vitamins tile image" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-expand="-10" data-src='https://cdn.shopify.com/s/files/1/0838/7991/files/tile_vitamins_retouch.jpg?41730'/>

        </div>
      </div>
      <div class="shop-by-category-tiles">
        <div class="spec"><a href="https://www.publicgoods.com/collections/vegan"><span>VF</span><p>vegan<br/>friendly</p></a></div>     
        <div class="spec"><a href="https://www.publicgoods.com/collections/organic"><span>O</span><p><br/>organic</p></a></div>     
        <div class="spec"><a href="https://www.publicgoods.com/collections/gluten-free"><span>GF</span><p>gluten<br/>free</p></a></div>      
        <div class="spec"><a href="https://www.publicgoods.com/collections/tree-free-paper"><span>TF</span><p>tree<br/>free</p></a></div>    
        <div class="spec"><a href="https://www.publicgoods.com/collections/vegetarian"><span>V</span><p><br/>vegetarian</p></a></div>              
        <div class="spec"><a href="https://www.publicgoods.com/collections/zero-waste-1"><span>ZW</span><p>zero<br/>waste</p></a></div>
      </div>
<!--       <div class="shop-by-category-arrows">
        <img class="category-arrow" src='https://cdn.shopify.com/s/files/1/0838/7991/files/arrow-right.png?8111881308690237463' />
        <img class="category-arrow" src='https://cdn.shopify.com/s/files/1/0838/7991/files/arrow-right.png?8111881308690237463' />
        <img class="category-arrow" src='https://cdn.shopify.com/s/files/1/0838/7991/files/arrow-right.png?8111881308690237463' />
        <img class="category-arrow" src='https://cdn.shopify.com/s/files/1/0838/7991/files/arrow-right.png?8111881308690237463' />
        <img class="category-arrow" src='https://cdn.shopify.com/s/files/1/0838/7991/files/arrow-right.png?8111881308690237463' />
        <img class="category-arrow" src='https://cdn.shopify.com/s/files/1/0838/7991/files/arrow-right.png?8111881308690237463' />
      </div> -->
    </div>
  </div>


<div id="page_content">
  
  <div>
  	<div class="about-container">
      <div class="about-product-slider">
        <h1>It's all good.</h1>
        <div class='arrow-prev'><img class='lazyload' alt="left arrow for product carousel" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-expand="-10" data-src='https://cdn.shopify.com/s/files/1/0838/7991/files/arrow-left.png?8111881308690237463' /></div>
        <div class="product-image-slider">
          <div>
            <a href="https://www.publicgoods.com/collections/personal-care/products/body-wash" data-product-single-thumbnail>
              <img class='lazyload' alt="shampoo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0838/7991/files/all-good1_copy.png?17231728799301496424" />
            </a>
          </div>
          <div>
            <a href="https://www.publicgoods.com/collections/linens-1/products/organic-cotton-kitchen-towels-2-pack" data-product-single-thumbnail>
              <img class='lazyload' alt="kitchen towels" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0838/7991/files/all-good2_copy.png?17231728799301496424">
            </a>
          </div>
          <div>
            <a href="https://www.publicgoods.com/collections/household/products/surfacecleaner24oz" data-product-single-thumbnail>
              <img class='lazyload' alt="surface cleaner" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0838/7991/files/all-good3_copy.png?17231728799301496424" />
            </a>
          </div>
          <div>
            <a href="https://www.publicgoods.com/collections/household/products/tall-kitchen-recycled-trash-bag-13-gal" data-product-single-thumbnail>
              <img class='lazyload' alt="13 gallon recycle trash bag" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0838/7991/files/all-good4_copy.png?17231728799301496424" />
            </a>
          </div>
          <div>
            <a href="https://www.publicgoods.com/collections/personal-care/products/shampoo-refill-34oz-pouch" data-product-single-thumbnail>
              <img class='lazyload' alt="shampoo refill" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0838/7991/files/all-good5_copy.png?17231728799301496424" />
            </a>
          </div>
        </div>
      </div>
              <div class='arrow-next'><img class='lazyload' alt="right arrow for product carousel" id="right-arrow" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-expand="-10" data-src='https://cdn.shopify.com/s/files/1/0838/7991/files/arrow-right.png?8111881308690237463' /></div>

      <div class="how-we-operate">
        <div class="hwo-item how-we-operate-header">
          <h1>Making healthy affordable</h1>
        </div>
        <div class="hwo-item how-we-operate-info">
          <p>A membership of $59/year allows us to deliver direct-to-consumer prices on everything we sell. Members also get free shipping on orders $45+, access to wholesale bulk shopping and more. 
            <br><br>Your 14 day free trial is automatically added at checkout. </p>
        </div>
        <div class="hwo-item how-we-operate-button">
          <a href="/collections/all-products" class="home-shop-btn browse-prod-btn customer-signed-in-change-color">Shop Products</a>
<!--            {% if customer %}
             <a href="/collections/all-products" class="home-shop-btn browse-prod-btn customer-signed-in-change-color">Shop Products</a>
          {% else %}
             <a class="free-trial-btn home-shop-btn membuttonclick margin_top_30 button inverted button-cta" data-label="home-btn-click">Free Trial</a>
          {% endif %} -->
        </div>
      </div>
    </div>
  </div>
  

{{ 'homepage.css' | asset_url | stylesheet_tag }}
  {{ 'slick.min.js' | asset_url | script_tag }}


<script>

    $('.product-image-slider').slick({
      dots: false,
      arrows: true,
      rows:1,
      slidesToShow: 1,
      lazyLoad: 'progressive',
      focusOnSelect: true,
	  nextArrow:$('.arrow-next'),
      prevArrow:$('.arrow-prev'),
    });
	
  $('.slick-next').click(function() {
    $('.about-container').click()
  })
  
  $(".main-categories-tile").click(function() {
    window.location = $(this).find("a").attr("href"); 
    return false;
  });
  
</script>
  
<!--  prevArrow: "<img class='arrow-prev' src='https://cdn.shopify.com/s/files/1/0838/7991/files/arrow-left.png?8111881308690237463' />",
      nextArrow: "<img class='arrow-next' src='https://cdn.shopify.com/s/files/1/0838/7991/files/arrow-right.png?8111881308690237463' />"  -->
  
  
<!--   <script>
    $(document).ready(function(){
      $(".button.inverted").click(function(e){
        event.stopPropagation();
        console.log($("#memberships_button_11118"));
        console.log($("#memberships_button_11118")[0]);
//        $("#memberships_button_11118").click();
      })
    });
  </script> -->

  <!--<div class="row">
    <div class="column_12"><h2 class="text_center margin_bottom_50">Show Us Your Goods</h2></div>
    <div class="column_12">
      <div class="goods">
        {% for product in collections.featured-goods.products limit:10 %}
          {%- comment %}<locksmith:295c>{% endcomment -%}
            {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections.featured-goods, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
          {%- comment %}</locksmith:295c>{% endcomment -%}
          <div class="good">
            <a href="{{ product.url | within: collection }}"><img src="{{ product.featured_image.src | img_url: 'medium' }}" alt=""/></a>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="column_12">
      <p class="text_center" id="publicgoods">#publicgoods</p>
    </div>
  </div>!--><!-- Row End !-->
  
<!-- Popup email capture   -->
  {% unless customer %}
  <div id="on-exit-popup" style='display: none;'>
    <div id="popup-top-div">
      <div id="top-left-div">
        <h1 id="popup-header-text">Friends with benefits.</h1>
      </div>
      <div id="top-right-div">
        <img id="popup-closeBtn" alt="close popup" src="{{ 'X.svg' | asset_url }}"/>
      </div>
    </div>
    <div id="popup-middle-div">
      <p id="popup-body-text">Join our list for first access to new products, sneak peeks and more.</p>
    </div>
    <div id="popup-bottom-div">
      <footer style="padding-top: 0;">
        <form name="popup-email-form" id="email-capture-popup2" style="padding-top: 0; position: relative;" class="validate-form footer_submit_form">
          <input name="email2" id="emailinput2" value="" placeholder="" class="drip-text-field popupInput" type="email" required="">
          <div id="drip-errors-for-email-27436" class="drip-errors" style="display: none"></div>
          <a href="/collections/all-products" class="home-shop-btn" id="popup-post-signup-button" style="display: none; background-color: white; color:#EB8364;">Start Shopping</a>
          <input name="submit" value="Subscribe" id="drip-submit-27436" class="drip-submit-button submit-capture popup-submit-button" type="submit">

          <div id="drip-success-panel-27436" class="drip-success drip-panel" style="display: none">
            <p>Thank you.</p>
          </div>
        </form>
      </footer>
    </div>
  </div>
{% endunless %}
{%comment%}{% include 'on-exit-popup' %}{%endcomment%}
  {% include 'on-exit-popup-2' %}
<!-- End popup email capture -->
</div> <!-- Page Content End !-->

<style>
  .shop-by-category-tiles {
    margin-top: 100px;
  }
  
  #mission_hero {
/*     padding-top: 165px; */
  }

    .arrow-next {
/*       top: 4787px; */
      margin-top: -258px;
      top: inherit;
    }
  
   .free-tote-second-div {
    display: none !important;
  }
  
  #hero-buttons {
    display: block;
  }
  
  #email-capture-error {
    display: none;
    color: #dc876c;
    font-size: 14px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    width: 100%;
  }
  
  #submit-form {
    background-color: #dc876c;
    height: 45px;
    width: 150px;
    color: #fff;
    font-family: 'NBH';
    margin: 0 auto;
    margin-top: 25px;
    font-size: 13px;
    display: block;
  }
  
  #submit-form:hover {
    opacity: .8;
    -webkit-transition: font-size 0.3s, opacity 0.3s;
  }
  
  #amazon-email {
    height: 44px;
    border: 0;
    width: 245px;
    padding-left: 5px;
    line-height: .5;
    text-align: center;
/*     border: 1px solid #dc876c; */
  }
  
  #amazon-email::placeholder, #submit-form::placeholder {
    padding-top: 5px;
  } 
  
  #planting-trees-show {
    display: none;
  }
  
  @media screen and (max-width: 950px) {
    #hero-buttons, .row .button-cta {
      display: none;
    }
    .free-tote-second-div {
      display: block !important;
    }
    #stickThis a.button.inverted {
      margin: 0px !important;
      width: 100% !important;
      text-align: center !important;
    }
    .popup-wrapper {
/*       height: 100%; */
/*       margin-top: 210px; */
    }
  }

  #mission_hero h1 {
    padding-bottom: 0 !important;
  }
  
     /* Keep native mobile bottom nav open so sticky button works all the time  */
  
  @media (max-width: 950px) {
    html {
      height: 100% !important;
      overflow-y: scroll !important;
      -webkit-overflow-scrolling: touch !important;
    }
  
    body {
      height: 100% !important;
      overflow-y: scroll !important;
      -webkit-overflow-scrolling: touch !important;
    }
  }
  
  @media (max-width: 500px) {
    #amazon-email {
      margin-bottom: 12px;
    }
    
    #submit-form {
      width: 180px;
      font-size: 16px;
    }
    
    #try-anything-form {
      padding: 10px 0 60px 0;
    }
     
     #mission_hero {
       height: 565px !important;
     }
  }
  
  
  @media (max-width: 460px) { 
     #mission_hero {
      height: 300px;
    }
  }
  
    @media (max-width: 450px) { 
    .arrow-next {
      margin-top: -64% !important;
    }
   }
  
      @media (max-width: 414px) { 
    .arrow-next {
      margin-top: -58% !important;
    }
   }
  
   @media (max-width: 375px) { 
    .arrow-next {
          margin-top: -59% !important;
    }
     
    @media (max-width: 325px) { 
     .arrow-next {
          margin-top: -69% !important;
      }
    }
     
     
   }
  
</style>

{% include 'reactivate-popup' %}
{% include 'annual-payment-failed-popup' %}

<script>
  
      
      $(window).keydown(function(event){
        if(event.keyCode == 13) {
          event.preventDefault();
          return false;
        }
      });
  
  
  $(document).ready(function(){

    $("#loadOverlay").css("display","none");
    
    // Tree planting submission
    let emailCapture = document.getElementById("submit-form")
    let tryAnythingForm = document.getElementById('try-anything-form')
  	
     tryAnythingForm.addEventListener('submit', e => {  
       e.preventDefault()  

       let emailText = tryAnythingForm.elements.namedItem("email").value;
       
       if (emailText !== "") {
         _dcq.push(
              [
                "subscribe",
                {
                  campaign_id: '220285039',
                  fields: {
                    email: emailText,
                    tags: "homepage-input"
                  },
                  success: function(response) {
                     console.log(emailText)
//                      $("#planting-trees-show").show()
//                      $("#planting-trees-hide").hide()
//                      $(".margin_bottom_50").css("margin-bottom","40")
                     window.location.href= 'https://www.publicgoods.com/collections/all-products'
                  },
                  failure: function(response) {
                    alert("There was a problem submitting your response. Please contact customer service, thank you.")
                  }
                }
              ]
            );
       } else {
         $("#email-capture-error").show()
       }
     })
     
    function createCookie(name,value,days) {        if (days) { var date = new Date();
            date.setTime(date.getTime()+(days*24*60*60*1000));
            var expires = "; expires="+date.toGMTString();
        }
        else var expires = "";
        document.cookie = name+"="+value+expires+"; path=/";
        }
    createCookie("free_trial_button", "true", 30);
    
    {% unless customer %}
       console.log("DOM fully loaded and parsed");
       let GSscriptURL = 'https://script.google.com/macros/s/AKfycbyZpEbiGJEYiAXNX9kDbvOnLptx6gtkyMBBLYH5If59DcmH3B_y/exec'
       const popupEmailForm = document.forms['popup-email-form'] 
       let emailInput = document.getElementById('emailinput2').value


       popupEmailForm.addEventListener('submit', e => {  
         e.preventDefault()  

         let popupEmailText = popupEmailForm.elements.namedItem("email2").value;

          const payload = {
          subscribers: [{
            email: popupEmailText,
          }]
        }

         fetch(GSscriptURL, { method: 'POST', body: new FormData(popupEmailForm)})  
          .then(response => console.log('Success!', response))  
          .catch(error => console.error('Error!', error.message))  

         _dcq.push(
          [
            "subscribe",
            {
              campaign_id: "220285039",
              fields: {
                email: popupEmailText
              },
              success: function(response) {
                 console.log(popupEmailText)
              }
            }
          ]
        );
       })
   {% endunless %}
     
     function sticktothebottom() {
        var h = window.innerHeight;
        var window_top = $(window).scrollTop();
        var top = $('#stick-here').offset().top;
        var panelh = $(".free-tote-second-div").height();

        if(h> top || h + window_top > top + 50) {
            $('#stickThis').appendTo('body');
            $('#stickThis').css('position', 'fixed');
            $('#stickThis').css('bottom', '0');
        } else {
            $('#stickThis').appendTo('#stick-here');
            $('#stickThis').css('position', 'relative');
            $('#stickThis').css('bottom', 'auto');
        }
      }

      var w = window.innerWidth
      || document.documentElement.clientWidth
      || document.body.clientWidth;

      var h = window.innerHeight
      || document.documentElement.clientHeight
      || document.body.clientHeight;


      $(function() {
        $(window).scroll(sticktothebottom);
        sticktothebottom();
      });
    
    
    var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
     
    if (isChrome) {
      $(".arrow-next").css("margin-top", "-306px")
      if ($(window.width() < 460)) {
        $(".arrow-next").css("margin-top", "-296px")
      }
    }
    
  })
  
  
</script>

<script type="text/javascript" language="javascript">
  var member = 0;
  var idNo_modal = '';
  var idYes_modal = '';

  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      member = 1;
    {% endif %}
  {% endif %}

  $(document).ready(function(){
    
    {% for tag in customer.tags %} 
    {% if tag == 'member' or tag == 'members' or tag == 'Member' %}
    {% assign nonmember = false %}
    {% endif %}
    {% if tag == 'Unsubscribed' or tag == 'unsubscribed' %}
    {% assign nonmember = true %}
    {% endif %}
    {% if tag == 'membershipPaymentFailed' %}
    {% assign failedAnnualPayment = true %}
    {% endif %}
    {% endfor %}
    
    {% if customer.tags contains 'lifetime' or customer.tags contains 'Lifetime' %}
    {% assign nonmember = false %}
    {% endif %}
    
    var modal = $('#customModal');
    var modalDom = document.getElementById('customModal');

    var cart_items = {};

    $('.productYes').click(function(){
      console.log("here2222");
      if(member == 0){
        $("a#membership_button_11118").click();

        // modal.show();
        // $('body').css('overflow', 'hidden');

        var name = $(this).parents('.collection:first').find('.collection_action:first').attr('rel');

        idNo_modal = name + '-no';
        idYes_modal = name + '-yes';
        
        $('#'+idYes_modal).removeAttr('checked');
        $('#'+idNo_modal).prop('checked',true);
      }
    });

    $('.collection_minus').click(function(){
      var object = $(this).parents('.collection_update_spans:first');
      var quantity_object = object.find('.collection_count:first');
      var total_quantity = parseInt(quantity_object.html());
      var name = $(this).attr('rel');
      
      var idNo = name + '-no';
      var idYes = name + '-yes';

      var variantId = $('#'+idNo).val();
      if($('#'+idYes).prop('checked'))
        variantId = $('#'+idYes).val();

      var quantity = find_cart_quantity(variantId, 'minus');

      $.ajax({
        type:'POST', 
        url:'/cart/change.js', 
        data: {id: variantId, quantity: quantity}, 
        dataType: 'json',
        success: function(data){
            setCartItem(variantId, {id: $('#'+idYes).val(), quantity: quantity});
            if(total_quantity > 1)
                quantity_object.html(total_quantity-1);
            else
                get_cart_items();
            
            update_cart_count('minus');
        }
      });  
    });

    $('.collection_plus').click(function(){
      var object = $(this).parents('.collection_update_spans:first');
      var quantity_object = object.find('.collection_count:first');
      var total_quantity = parseInt(quantity_object.html());
      var name = $(this).attr('rel');
      
      var idNo = name + '-no';
      var idYes = name + '-yes';

      var variantId = $('#'+idNo).val();
      if($('#'+idYes).prop('checked'))
        variantId = $('#'+idYes).val();

      var quantity = find_cart_quantity(variantId, 'plus');

      $.ajax({
        type:'POST', 
        url:'/cart/change.js', 
        data: {id: variantId, quantity: quantity}, 
        dataType: 'json',
        success: function(data){
            setCartItem(variantId, {id: $('#'+idYes).val(), quantity: quantity});
            quantity_object.html(total_quantity+1);
            update_cart_count('plus');
        }
      });  
    });

    $('.collection_to_cart').click(function(){
      
      var name = $(this).attr('rel');
      
      var object = $(this).parents('.collection_action:first');

      var idNo = name + '-no';
      var idYes = name + '-yes';

      var variantId = $('#'+idNo).val();
      if($('#'+idYes).prop('checked'))
      	variantId = $('#'+idYes).val();  
      
      {% if nonmember == true %}
        {% if failedAnnualPayment == true %}
          $('#payment-failed-pop-up-wrapper').css('display', 'block')
          let popupWidth = (window.innerWidth - $('#payment-failed-pop-up-wrapper').width()) / 2
          $('#payment-failed-pop-up-wrapper').css('right', popupWidth )
        {% else %}
          $('#reactivate-pop-up-wrapper').css('display', 'block')
          let popupWidth = (window.innerWidth - $('#reactivate-pop-up-wrapper').width()) / 2
          $('#reactivate-pop-up-wrapper').css('right', popupWidth )
        {% endif %}
      {% endif %}
          
    {% unless nonmember == true %}
      $.ajax({
        type:'POST', 
        url:'/cart/add', 
        data: {id: variantId}, 
        dataType: 'json',
        success: function(data){
            get_cart_items();
            update_cart_count('plus');
            setCartItem(variantId, {id: $('#'+idYes).val(), quantity: 1});
        }
      });
    {% endunless %}
      
    });
	
    $('#boldTrigger').click(function(){
    	$('.modal-close').click();
      	$('#checkout_11118 a').click();
    });
    
    $('.modal-close').click(function(){
      modal.hide();
      $('body').css('overflow', 'auto');

      if(idYes_modal != '' && idNo_modal != ''){
        $('#'+idYes_modal).removeAttr('checked');
        $('#'+idNo_modal).prop('checked',true);

        idYes_modal = '';
        idNo_modal = '';
      }
    });

    $(window).click(function(e){
      if (e.target == modalDom){
        modal.hide();
        $('body').css('overflow', 'auto');

        if(idYes_modal != '' && idNo_modal != ''){
          $('#'+idYes_modal).removeAttr('checked');
          $('#'+idNo_modal).prop('checked',true);

          idYes_modal = '';
          idNo_modal = '';
        }
      }
    });

    function get_cart_items(){
        $('.collection_to_cart').show();
        $('.collection_update').hide();
        $('.collection_update').css('opacity', 0);

        $.ajax({
          type:'GET', 
          url:'/cart.js', 
          dataType: 'json',
          success: function(data){
            var items = data.items;

            cart_items = items;

            for(var i in items){
              var temp = [];

              if(items[i].merged)
                continue;

              temp.product_id = items[i].product_id;
              temp.quantity = parseInt(items[i].quantity);
              items[i].merged = true;

              for(var j in items){
                if(i >= j || items[j].merged)
                  continue;

                if(items[i].product_id == items[j].product_id){
                  temp.quantity += parseInt(items[j].quantity);
                  items[j].merged = true;
                }
              }

              var id = 'collection_count_' + temp.product_id;
              $('#'+id).html(temp.quantity);

              var object = $('#'+id).parents('.collection_action:first');
              object.find('.collection_to_cart:first').hide();
              object.find('.collection_update:first').show();
              object.find('.collection_update:first').css('opacity', 1);
            }
          }
        });
    }
    
    $('body').on('afterChangeItem.ajaxCart', function(evt, cart) {
      get_cart_items();
    });

    $('body').on('afterAddItem.ajaxCart', function(evt, cart) {
      get_cart_items();
    });

    function find_cart_quantity(id, action){
        var quantity = 0;
        if(cart_items.length > 0){
            for(var i in cart_items){
                if(cart_items[i].id == id){
                    if(action == 'minus')
                        cart_items[i].quantity -= 1;
                    else if(action == 'plus')
                        cart_items[i].quantity += 1;      

                    quantity = cart_items[i].quantity;

                    break;
                }
            }
        }

        return parseInt(quantity);
    }

    function update_cart_count(action){
        var quantity = parseInt($('#CartCount').html());
        
        if(action == 'minus')
            quantity--;
        else if(action == 'plus')
            quantity++;

        $('#CartCount').html(quantity);
        $('#CartCount_mobile').html(quantity);
    }

    get_cart_items();
    
    $(window).load(function(){
      var match = new RegExp('[?&]cart=([^&]*)').exec(window.location.href);

      var param = match && decodeURIComponent(match[1].replace());

      if(param == 'show'){
          ajaxCart.load();
          timber.RightDrawer.open()
      }
    });
  });
  $(document).ready(function(){
    $("#boldTrigger").click(function(){ 	 
    	amplitude.getInstance().logEvent('all products cta one month free ');
    });   
  })
</script>



