<!-- Bold: Memberships (page) -->
{% include 'bold_mem_helper' with 'page' %}
<!-- end Bold code -->

<!-- /templates/page.liquid -->
<div class="deodorant-main-section">
  <div class="row clearfix">
    <div class="column_6">
      <h2 class="margin_bottom_50">Deodorant</h2>
      <h1 class="margin_bottom_50 without-padding">Boost of confidence.</h1>
      <div class="deodorant-thumbnail-mobile">
      	{{ 'Deodorant-mobile.png' | asset_url | img_tag }}            
      </div>
      <div class="deodorant-price-section">
      	<p class="margin_bottom_50">Our  deodorant  gives  ultra-effective  odor  protection,  keeping  you  cool  and  refreshed  without  any  harsh  chemicals.  Our  healthy  formula  has  subtle  botanical  scent  designed  to  smell  great  on  a  man  or  a  women.  It’s  gentle  on  sensitive  skin,  feels  light  to  the  touch  and  will  not  leave  white  marks  or  residue  on  your  clothes.</p>
      	<h1 style="display: inline;">$4.25</h1><span> with membership</span>
        <br><br><br>
        {% if customer %}
           <a href="/collections/all-products" style="background-color: black" class="home-shop-btn">Browse Products</a>
        {% else %}
          <a style="background-color: black" class="subscribe-to-membership-32-45 subscribe-to-membership home-shop-btn membuttonclick margin_top_30 button inverted button-cta">Get Membership</a>
        {% endif %}
        <br><br>
        <a href="/collections/all-products/products/deodorant">No thanks - I'll Pay full price instead</a>
      </div>
    </div>
    <div class="column_6 deodorant-thumbnail-desktop">
      {{ 'deodorant-pic.png' | asset_url | img_tag }}
    </div>
   <div class="text_center margin_top_50 margin_bottom_70">
 
  
<!--     <a href="/pages/membership" class="button inverted">Join Today</a> -->
         
    </div>   
    <!--<img src="{{ 'two.png' | asset_url }}" alt=""/>!-->
  </div>
</div>

<div class="deodorant-ingredients-section">
  <div class="row clearfix">
    <div class="deodorant-ingredients-section-inner-text">
      <p style="display: inline; font-size: 14px; font-family: NBH;">What's in it:</p><p style="display: inline; font-size: 14px; line-height: 1.5"> Healthy  ingredients  including  Orange,  Cinnamon,  Rosewood  and  Vetiver  essential  oils,  vegetable  derived  fatty  acids,  natural  unisex  fragrance.</p><br><br><br>
      <p style="display: inline; font-size: 14px; font-family: NBH;">What's not in it:</p><p style="display: inline; font-size: 14px; line-height: 1.5"> aluminum,  parabens,  synthetic  fragrance,  sodium  lauryl  sulfates,  phthalates  nor  anything  from  formaldehyde.</p>
    </div>
  </div>
</div>

<div class="margin_top_50">
  <div class="column_12">
    <h2 class="text_center">It's all good</h2>
  </div>
  <div class="column_6 deodorant-specs-cont align_center block_text_phone_home" style="float: none; padding-bottom: 75px;">
    <h3 style="font-family: NBH;" class="text_center font_nb margin_top_30 margin_bottom_30">Healthy ingredients<br>with nothing to hide</h3>
    <div class="specs deodorant-specs"> 
      <div class="spec"><span>PF</span><p>paraben<br>free</p></div>   
      <div class="spec"><span>VF</span><p>vegan<br>friendly</p></div>        
      <div class="spec"><span>SF</span><p>sulfate<br>free</p></div>    
      <div class="spec"><span>GF</span><p>gluten<br>free</p></div>        
      <div class="spec"><span>NF</span><p>natural<br>fragrance</p></div>          
      <div class="spec"><span>CF</span><p>cruelty<br>free</p></div>
    </div>

  </div>
  <div class="row clearfix" id="product-comments-block">
    <div class="column_12">
      <h2 class="margin_top_30">Reviews</h2>
      <div class="yotpo yotpo-main-widget"
          data-product-id="1709382337"
          data-name="Deodorant"
          data-url="https://www.publicgoods.com/products/deodorant"
          data-image-url="//cdn.shopify.com/s/files/1/0838/7991/products/Deodorant_large.png%3Fv=1514925654"
          data-description="{{ product.description | escape }}">
      </div>
    </div>
  </div>
</div>

<section class="pg-section review-section">
  <div class="pg-container">
    <div class="review-section-inner">
      <div class="pg-row">
        <div class="pg-col pg-col-3 single-review">
          	{{ 'go.png' | asset_url | img_tag }}
            <p>"An obvious yes."</p>
        </div>
        <div class="pg-col pg-col-3 single-review">
            {{ 'cool.png' | asset_url | img_tag }}
            <p>“Provides simple products <br>and convenience.”</p>
        </div>
        <div class="pg-col pg-col-3 single-review">
            {{ 'detail.png' | asset_url | img_tag }}
            <p>“The easiest way to restock <br>your bathroom.”</p>
        </div>
      </div>
    </div>
  </div>
</section>



