<div id="page_content">
  
  <div id="mission_hero" class="menstrual-hero">
    <div class="row clearfix">
      <div class="column_6 menstrual-hero-content">
        <h2>Introducing</h2>
         <h1 class="margin_bottom_50">The first 100% biodegradable bamboo maxi pad.</h1>
        <p class="margin_bottom_50 without-padding">The most eco-friendly menstrual care in the world is here.</p>

          {% unless customer %}<a class="subscribe-to-membership-32-45 subscribe-to-membership button inverted button-cta hide-mobile">Free Trial</a>{% endunless %}
          {% if customer %}<a href="/collections/all-products" class="home-shop-btn hide-mobile">Browse Products</a>{% endif %}
      </div>
      <div id="stick-here" class="stick-here"></div>
    </div>
  </div>
  
   <div id="sticky-button-bottom">
      {% if customer %}
        <div id="stickThis" class="free-tote-second-div" style="width: 100%; display: none;">
          <a href="/collections/all-products" class="button inverted">Browse Products</a>
        </div>
      {% else %}
        <div id="stickThis" class="free-tote-second-div" style="width: 100%; display: none;">
          <a class="subscribe-to-membership-32-45 subscribe-to-membership margin_top_30 button inverted button-cta">Start Free Trial</a>
        </div>
      {% endif %}
    </div>
  
  <div id="body-content">
    
    <div id="menstrual-section-1">
      <div class="section-1-content">
        <div class="section-1-header">
          <h1>We found that the best care could also be the most sustainable.</h1>
        </div>
        <div class="section-1-words">
          <p>We started by using organic bamboo because it grows faster and requires less water to produce than cotton or rayon fibers. It’s also softer and 15% more absorbent.</p>
        </div>
      </div>
    </div>
    
    <div id="menstrual-section-2">
      <div class="section-2-left">
        <div class="s2-left-heading">
          <h1>No plastics or synthetics.</h1>
        </div>
        <div class="s2-left-words">
          <p>We got rid of plastic and synthetic components that can sit in landfills for up to 800 years. Even our wrapper is 100% biodegradable.</p>
        </div>
      </div>
      <div class="section-2-right">
        <div class="s2-right-heading">
          <h1>Designed for your body.</h1>
        </div>
        <div class="s2-right-words">
          <p>Feather-light and ultra thin.</p>
          <p>Super soft for sensitive skin.</p>
          <p>Antimicrobial and hypoallergenic.</p>
          <p>No synthetic fibers or elemental chlorine.</p>
        </div>
      </div>
    </div>
    
    <div id="menstrual-pads-section">
       <div class="row">
         <div class="column_12">
            <div class="collections clearfix">
              {% paginate collections.all-products.products by 300 %}
              {% for product in collections.maxi-pads.products %}

                {%- comment %}<locksmith:df56>{% endcomment -%}
                  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections.maxi-pads, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                {%- comment %}</locksmith:df56>{% endcomment -%}

                {% assign name = 'product' | append:product.id %}
                {% assign idNo = name | append:'-no' %}
                {% assign idYes = name | append:'-yes' %}

                {% assign checkedNo = 'checked' %}
                {% assign checkedYes = '' %}
                {% assign opacityClass = '' %}
                {% assign available = true %}

                {% if product.variants[0].inventory_quantity <= 20 %}
                  {% assign available = false %}
                {% endif %}

                {% if shop.customer_accounts_enabled %}
                  {% if customer %}
                      {% assign checkedNo = 'disabled' %}
                      {% assign checkedYes = 'checked' %}
                      {% assign opacityClass = 'opacity-3' %}

                      {% assign available = true %}
                      {% if product.variants[0].inventory_quantity <= 20 %}
                          {% assign available = false %}
                      {% endif %}
                  {% endif %}
                {% endif %}

                <div class="collection">
                  <div class="collection_header">
                    <a href="{{ product.url | within: collection }}">
                      <img src="{{  product.images[0] | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}">
                    </a>
                    <div class="collection_action" rel="{{name}}">
                       {% if available == true %}
                          {% if customer %}
                             {% if product.variants.first.sku == "123" %}
                                <a href="{{ product.url | within: collection }}">
                                    <div class="collection_update">
                                    </div>
                                </a>
                             {% else %}
                               <div class="collection_to_cart" rel="{{name}}">ADD TO CART</div>
                             {% endif %}
                          {% else %}
                            <div class="collection_to_cart subscribe-to-membership subscribe-to-membership-32-45" rel="{{name}}">ADD TO CART</div>
                          {% endif %}
                          <div class="collection_update">
                            <div class="collection_update_spans clearfix">
                              <span class="collection_minus" rel="{{name}}"></span>
                              <div>
                                <span class="collection_count" id="collection_count_{{product.id}}"></span> IN CART
                              </div>
                              <span class="collection_plus" rel="{{name}}"></span>
                            </div>
                          </div>
                      {% else %}
                          <div class="collection_coming_soon">SOLD OUT</div>
                      {% endif %}
                    </div> <!-- Collection Action End !-->
                  </div>
                  <div class="collection_body">

                    <label class="collection_title all-products-product-stars"><a href="{{ product.url | within: collection }}">{{ product.title }}</a> 
                    </label>

                    <div><input type="hidden" rel="{{product.variants[0].inventory_quantity}}" name="{{name}}" id="{{idNo}}" value="{{ product.variants[0].id }}" class="productNo" {{checkedNo}}/><label for="{{idNo}}" onclick="">{{ product.variants[0].price | money }}</label></div>

                  </div>
                </div>


              {% endfor %}

              {% if paginate.pages > 1 %}
              <div class="pagination">
                {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
              </div>
            {% endif %}
       {% endpaginate %}
            </div> <!-- Collections End !-->
          </div>
      </div><!-- Row End !-->
     </div>
    
    <div id="menstrual-section-4">
      <div class="section-4-content">
        <h1>Also available: <br>Organic cotton tampons.</h1>
      </div>
    </div>
    
    <div id="menstrual-tampons-section">
       <div class="row">
         <div class="column_12">
            <div class="collections clearfix">
              {% paginate collections.all-products.products by 300 %}
              {% for product in collections.tampons-for-menstrual-landing-page.products %}

                {%- comment %}<locksmith:4e8f>{% endcomment -%}
                  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections.tampons-for-menstrual-landing-page, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                {%- comment %}</locksmith:4e8f>{% endcomment -%}

                {% assign name = 'product' | append:product.id %}
                {% assign idNo = name | append:'-no' %}
                {% assign idYes = name | append:'-yes' %}

                {% assign checkedNo = 'checked' %}
                {% assign checkedYes = '' %}
                {% assign opacityClass = '' %}
                {% assign available = true %}

                {% if product.variants[0].inventory_quantity <= 20 %}
                  {% assign available = false %}
                {% endif %}

                {% if shop.customer_accounts_enabled %}
                  {% if customer %}
                      {% assign checkedNo = 'disabled' %}
                      {% assign checkedYes = 'checked' %}
                      {% assign opacityClass = 'opacity-3' %}

                      {% assign available = true %}
                      {% if product.variants[0].inventory_quantity <= 20 %}
                          {% assign available = false %}
                      {% endif %}
                  {% endif %}
                {% endif %}

                <div class="collection">
                  <div class="collection_header">
                    <a href="{{ product.url | within: collection }}">
                      <img src="{{  product.images[0] | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}">
                    </a>
                    <div class="collection_action" rel="{{name}}">
                       {% if available == true %}
                          {% if customer %}
                             {% if product.variants.first.sku == "123" %}
                                <a href="{{ product.url | within: collection }}">
                                    <div class="collection_update">
                                    </div>
                                </a>
                             {% else %}
                               <div class="collection_to_cart" rel="{{name}}">ADD TO CART</div>
                             {% endif %}
                          {% else %}
                            <div class="collection_to_cart subscribe-to-membership subscribe-to-membership-32-45" rel="{{name}}">ADD TO CART</div>
                          {% endif %}
                          <div class="collection_update">
                            <div class="collection_update_spans clearfix">
                              <span class="collection_minus" rel="{{name}}"></span>
                              <div>
                                <span class="collection_count" id="collection_count_{{product.id}}"></span> IN CART
                              </div>
                              <span class="collection_plus" rel="{{name}}"></span>
                            </div>
                          </div>
                      {% else %}
                          <div class="collection_coming_soon">COMING SOON</div>
                      {% endif %}
                    </div> <!-- Collection Action End !-->
                  </div>
                  <div class="collection_body">

                    <label class="collection_title all-products-product-stars"><a href="{{ product.url | within: collection }}">{{ product.title }}</a> 
                    </label>

                    <div><input type="hidden" rel="{{product.variants[0].inventory_quantity}}" name="{{name}}" id="{{idNo}}" value="{{ product.variants[0].id }}" class="productNo" {{checkedNo}}/><label for="{{idNo}}" onclick="">{{ product.variants[0].price | money }}</label></div>

                  </div>
                </div>


              {% endfor %}

              {% if paginate.pages > 1 %}
              <div class="pagination">
                {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
              </div>
            {% endif %}
       {% endpaginate %}
            </div> <!-- Collections End !-->
          </div>
      </div><!-- Row End !-->
     </div>
    
  </div>
    
    <div id="supplements-section-five">
      <div class="section-five-content">
        <h1 class="section-five-header">New to Public Goods?</h1>
        <p class="section-five-subheader">We’re commited to making healthier, better
          choices easy and affordable to all. Good for you, eco-friendly and beautifully designed home
          essentials, all in one place and at ultra-low prices. </p>
        <p class="sections-five-image-title">As seen in:</p>
        <img class="section-five-image" src="https://cdn.shopify.com/s/files/1/0838/7991/files/press-quotes.png?30958" />
        {% unless customer %}<a class="subscribe-to-membership-32-45 subscribe-to-membership button inverted button-cta">Free Trial</a>{% endunless %}
        {% if customer %}<a href="/collections/all-products" class="home-shop-btn">Browse Products</a>{% endif %}
      </div>
    </div>
  
  <div id="supplemets-mobile-bottom" style="display:none;">
     <div class="supplemets-mobile-content">
        <h1 class="supplemets-mobile-header">New to Public Goods?</h1>
        <p class="supplemets-mobile-subheader">We’re commited to making healthier, better
          choices easy and affordable to all. Good for you, eco-friendly and beautifully designed home
          essentials, all in one place and at ultra-low prices. </p>
        {% unless customer %}<a class="subscribe-to-membership-32-45 subscribe-to-membership button inverted button-cta">Free Trial</a>{% endunless %}
        {% if customer %}<a href="/collections/all-products" class="home-shop-btn">Browse Products</a>{% endif %}
      </div>
    <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/new-to-public-goods_mobile_bd18b2d4-8f0b-441e-b7c0-dd1979729070.jpg?40856" />
  </div>
    

  
</div>


<style>
  .menstrual-hero {
    background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/menstraul-hero_desktop.jpg?40105) !important;
    background-position-y: 0% !important;
    padding-top: 110px !important;
  }
  
  .menstrual-hero-content {
    width: 450px;
  }
  
  .menstrual-hero-content h1 {
    margin-bottom: 20px;
  }
  
  .menstrual-hero-content p {
    margin-bottom: 30px;
  }
  
  .menstrual-hero-content h2 {
    margin-bottom: 30px;
  }
  
  #body-content {
    margin: 30px;
  }
  
  #menstrual-section-1 {
    height: 500px;
    background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/bamboo_desktop.jpg?40105);
    background-size: cover;
  }
  
  .section-1-content {
    text-align: center;
    padding-top: 150px;
  }
  
  .section-1-header {
    width: 350px;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  
  .section-1-header h1 {
    color: white;
    font-size: 30px;
    line-height: 34px;
  }
  
  .section-1-words {
    width: 450px;
    margin: 0 auto;
  }
  
  .section-1-words p {
    color: white;
    font-size: 16px;
    line-height: 20px;
  }
  
  #menstrual-section-2 {
    height: 525px;
    margin-top: 30px;
  }
  
  .section-2-left, .section-2-right {
    height: 500px;
/*     display: inline-block; */
    width: 49%;
    background-size: cover;
  }
    
  .section-2-left {
    background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/pad_detail_desktop.jpg?40105);
    float: left;
    background-position-x: 60%;
  }
  
  .section-2-right {
    background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/pad_in_hand_desktop.jpg?40105);
    float: right;
    background-position-x: 95%;
  }
  
  .s2-left-heading, .s2-right-heading {
    width: 240px;
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: 30px;
  }
  
  .s2-right-heading {
    margin-top: 75px;
  }
  
  .s2-left-words, .s2-right-words {
    width: 300px;
    margin-left: 30px;
  }
  
  .s2-right-words {
    width: 255px;
  }
  
  .s2-right-words p {
    padding-bottom: 20px;
  }
  
  .collection {
    width: 24.9%;
  }
  
  #menstrual-section-4 {
    height: 550px;
    background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/tampons_desktop.jpg?40105);
    background-size: cover;
    margin-bottom
  }
  
  .section-4-content {
    text-align: center;
    padding-top: 40px;
  }
  
  
  
  
  
  
   #supplements-section-five {
    height: 650px;
    background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/new-to-public-goods_desktop.jpg?30958);
    background-size: cover;
    background-position-y: 83%;
  }
  
  .section-five-content {
    width: 450px;
    margin-left: 70px;
    padding-top: 70px;
  }
  
  .section-five-subheader {
    padding: 40px 0;
  }
  
  .sections-five-image-title {
    color: #777;
  }
  
  .section-five-image {
    padding: 40px 0 50px 0;
  }
  
  a.button.inverted {
    margin: 0;
  }
  
  #menstrual-tampons-section {
      margin-top: 50px;
    }
  
  
  @media (min-width: 1550px) {
    .menstrual-hero {
      background-position-y: 75% !important;
    }
  }
  
  @media (max-width: 1250px) {
    #supplements-section-five {
      background-position-x: 25% !important;
    }
  }
  
  @media (max-width: 1130px) {
    #menstrual-section-4 {
      background-position-x: 80%;
    }
  }
  
  @media (max-width: 950px) {
    .menstrual-hero {
      background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/menstrual-hero_mobile.jpg?40409) !important;
      background-position-y: 46% !important;
    }
    #mission_hero .column_6 {
      width: 410px;
      margin: 0 auto;
    }
    .hide-mobile {
      display: none !important;
    }
    
    #stickThis {
      display: block !important;
    }
    
   #stickThis a {
      display: block !important;
      width: 100% !important;
    }
    .section-2-left, .section-2-right {
      float: none;
      width: 100%;
      margin-top: 30px;
    }
    #menstrual-section-2 {
      height: 100%;
      margin-top: 0;
    }
    .s2-left-heading, .s2-right-heading {
      margin-top: 0;
      padding-top: 75px;
    }
    #menstrual-section-4 {
      margin-top: 30px;
    }
    
    #menstrual-pads-section, #menstrual-tampons-section {
      margin-top: 50px;
    }
    
    .collection {
      width: 49.9%;
    }
    
    #supplements-section-five {
      height: 300px;
      margin: 15px;
      background-image: none;
      background-color: #eee;
      display: none;
    }
    
/*     .section-two-button, .section-five-subheader, .section-five-header, .section-five-content a {
      display: none;
    } */
    
    .section-five-content {
      width: 85%;
      padding: 0;
      padding-top: 40px;
      margin: 0 auto;
      text-align: center;
    }
    #supplemets-mobile-bottom {
      display: block !important;
      height: 100%;
/*       background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/new-to-public-goods_mobile_bd18b2d4-8f0b-441e-b7c0-dd1979729070.jpg?40856); */
/*       background-size: cover;
      background-position-y: 55%;  */
    }
    .supplemets-mobile-content {
      z-index: 5;
      position: absolute;
      width: 620px;
      margin-top: 100px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      text-align:center;
    }
    
    .supplemets-mobile-subheader {
      padding: 40px 0;
    }
  }
  
  @media (max-width: 737px) {
    #menstrual-section-1 {
      background-position-x: 50%;
    }
    #mission_hero h1 {
      padding-bottom: 0;
    }
    .menstrual-hero {
      padding-top: 65px !important;
    }
    
    .section-1-header h1 {
      font-size: 24px;
      line-height: 30px;
    }
    .section-1-words p {
      font-size: 13px;
      line-height: 18px;
    }
    
    .section-2-left, .section-2-right {
      height: 400px;
    }
    
    .supplemets-mobile-content {
      width: 400px;
    }
    
  }
  
  @media (max-width: 550px) {
	#mission_hero .column_6 {
      width: 260px;
    }
    .section-1-words {
      width: 333px;
    }
    .section-2-left {
      background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/pad_detail_mobile.jpg?40555);
    }
    .section-2-right {
      background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/pad_in_hand_mobile.jpg?40555);
      background-position-y: 95%;
    }
    .s2-right-heading {
      margin: 0 auto;
      width: 160px;
      text-align: center;
      padding-bottom: 20px;
    }
    .s2-right-heading {
      padding-top: 30px;
    }
    .s2-right-words {
      margin: 0 auto;
      text-align: center;
      width: 250px;
    }
    .s2-right-words p {
      padding-bottom: 10px;
    }
    
    .collection {
      width: 100%;
    }
    
    #menstrual-section-4 {
      height: 400px;
      background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/tampons_mobile.jpg?40555);
      background-position-y: 100%;
    }
    .supplemets-mobile-content {
      margin-top: 50px;
    }
  }
  
  @media (max-width: 450px) {
    
    .menstrual-hero {
      background-position-y: 10% !important;
    }
    
    .menstrual-hero-content p {
      width: 200px;
      margin: 0 auto;
    }
    
    #menstrual-section-1 {
      height: 400px;
      background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/bamboo_mobile.jpg?40409);
      background-position-x: 97%;
    }
    
    .section-2-left {
      background-position-x: 60%;
    }
    
    .section-1-header {
      width: 280px;
    }
    
     .section-1-words {
       width: 275px;
     }
    
    .section-1-content {
      padding-top: 100px;
    }
    
    .s2-left-words {
      width: 147px;
    }
    
    .s2-right-words {
      width: 250px;
    }
   
    
    #supplements-section-five {
      height: 225px;
    }
    
    .supplemets-mobile-content {
      width: 300px;
      margin-top: 20px;
    }
    .supplemets-mobile-subheader {
      padding: 30px 0;
    }
    a.button.inverted {
      padding: 12px 0 !important;
      min-width: 160px !important;
      width: 160px !important;
    }
    
  }
  
  @media (max-width: 360px) {
    .menstrual-hero {
      background-position-y: 21px !important;
    }
     .section-1-content {
      padding-top: 50px;
    }
    .section-1-header {
      width: 230px;
    }
    .section-1-header h1 {
      font-size: 24px;
      line-height: 28px;
   }
    .section-1-words {
      width: 220px;
    }
    .section-1-words p{
      font-size: 13px;
      line-height: 16px;
    }
    #menstrual-section-1 {
      height: 350px;
    }
    .s2-left-heading {
      width: 160px;
    }
    .section-2-right {
      background-position-x: 38%;
    }
/*     .supplemets-mobile-content {
      width: 300px;
      margin-top: 20px;
    } */
    
    .supplemets-mobile-subheader {
      padding: 20px 0;
    }
 
  }
</style>

<script type="text/javascript" language="javascript">
  var member = 0;
  var idNo_modal = '';
  var idYes_modal = '';

  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      member = 1;
    {% endif %}
  {% endif %}

  $(document).ready(function(){
    
      function sticktothebottom() {
        var h = window.innerHeight;
        var window_top = $(window).scrollTop();
        var top = $('#stick-here').offset().top;
        var panelh = $(".free-tote-second-div").height();

        if(h> top || h + window_top > top + 50) {
            $('#stickThis').appendTo('body');
            $('#stickThis').css('position', 'fixed');
            $('#stickThis').css('bottom', '0');
        } else {
            $('#stickThis').appendTo('#stick-here');
            $('#stickThis').css('position', 'relative');
            $('#stickThis').css('bottom', 'auto');
        }
      }

      var w = window.innerWidth
      || document.documentElement.clientWidth
      || document.body.clientWidth;

      var h = window.innerHeight
      || document.documentElement.clientHeight
      || document.body.clientHeight;


      $(function() {
        $(window).scroll(sticktothebottom);
        sticktothebottom();
      });
    
    // Update cart count for incase of cache issue
    (function() {
    
      jQuery.getJSON('/cart.js', function(cart) {
        console.log('in')
          $('#CartCount').html(cart.item_count);
      });
      
    })()
    
    
    var modal = $('#customModal');
    var modalDom = document.getElementById('customModal');

    var cart_items = {};

    $('.productYes').click(function(){
      console.log("here2222");
      if(member == 0){
        $("a#membership_button_11118").click();

        // modal.show();
        // $('body').css('overflow', 'hidden');

        var name = $(this).parents('.collection:first').find('.collection_action:first').attr('rel');

        idNo_modal = name + '-no';
        idYes_modal = name + '-yes';
        
        $('#'+idYes_modal).removeAttr('checked');
        $('#'+idNo_modal).prop('checked',true);
      }
    });

    $('.collection_minus').click(function(){
      var object = $(this).parents('.collection_update_spans:first');
      var quantity_object = object.find('.collection_count:first');
      var total_quantity = parseInt(quantity_object.html());
      var name = $(this).attr('rel');
      
      var idNo = name + '-no';
      var idYes = name + '-yes';

      var variantId = $('#'+idNo).val();
      if($('#'+idYes).prop('checked'))
        variantId = $('#'+idYes).val();

      var quantity = find_cart_quantity(variantId, 'minus');

      $.ajax({
        type:'POST', 
        url:'/cart/change.js', 
        data: {id: variantId, quantity: quantity}, 
        dataType: 'json',
        success: function(data){
            setCartItem(variantId, {id: $('#'+idYes).val(), quantity: quantity});
            if(total_quantity > 1)
                quantity_object.html(total_quantity-1);
            else
                get_cart_items();
            
            update_cart_count('minus');
        }
      });  
    });

    $('.collection_plus').click(function(){
      var object = $(this).parents('.collection_update_spans:first');
      var quantity_object = object.find('.collection_count:first');
      var total_quantity = parseInt(quantity_object.html());
      var name = $(this).attr('rel');
      
      var idNo = name + '-no';
      var idYes = name + '-yes';

      var variantId = $('#'+idNo).val();
      if($('#'+idYes).prop('checked'))
        variantId = $('#'+idYes).val();

      var quantity = find_cart_quantity(variantId, 'plus');

      $.ajax({
        type:'POST', 
        url:'/cart/change.js', 
        data: {id: variantId, quantity: quantity}, 
        dataType: 'json',
        success: function(data){
            setCartItem(variantId, {id: $('#'+idYes).val(), quantity: quantity});
            quantity_object.html(total_quantity+1);
            update_cart_count('plus');
        }
      });  
    });

    $('.collection_to_cart').click(function(e){
	
      e.preventDefault()
      
      var name = $(this).attr('rel');
      
      var object = $(this).parents('.collection_action:first');

      var idNo = name + '-no';
      var idYes = name + '-yes';

      var variantId = $('#'+idNo).val();
      if($('#'+idYes).prop('checked'))
        variantId = $('#'+idYes).val();

      {% for tag in customer.tags %}
        {% if tag == 'member' or tag == 'members' %}
          {% assign nonmember = false %}
        {% endif %}
        {% if tag == 'Unsubscribed' or tag == 'unsubscribed' %}
          {% assign nonmember = true %}
        {% endif %}
      {% endfor %}
      
      {% if customer.tags contains 'lifetime' %}
        {% assign nonmember = false %}
      {% endif %}
      
      {% if nonmember == true %}
      	$('#reactivate-pop-up-wrapper').css('display', 'block')
        let popupWidth = (window.innerWidth - $('#reactivate-pop-up-wrapper').width()) / 2
        $('#reactivate-pop-up-wrapper').css('right', popupWidth )
      {% endif %}
	
      {% if nonmember == false %}
        $.ajax({
          type:'POST', 
          url:'/cart/add', 
          data: {id: variantId}, 
          dataType: 'json',
          success: function(data){
              get_cart_items();
              update_cart_count('plus');
              setCartItem(variantId, {id: $('#'+idYes).val(), quantity: 1});
          }
        });
      {% endif %}
    });
	
    $('#boldTrigger').click(function(){
    	$('.modal-close').click();
      	$('#checkout_11118 a').click();
    });
    
    $('.modal-close').click(function(){
      modal.hide();
      $('body').css('overflow', 'auto');

      if(idYes_modal != '' && idNo_modal != ''){
        $('#'+idYes_modal).removeAttr('checked');
        $('#'+idNo_modal).prop('checked',true);

        idYes_modal = '';
        idNo_modal = '';
      }
    });

    $(window).click(function(e){
      if (e.target == modalDom){
        modal.hide();
        $('body').css('overflow', 'auto');

        if(idYes_modal != '' && idNo_modal != ''){
          $('#'+idYes_modal).removeAttr('checked');
          $('#'+idNo_modal).prop('checked',true);

          idYes_modal = '';
          idNo_modal = '';
        }
      }
    });

    function get_cart_items(){
        $('.collection_to_cart').show();
        $('.collection_update').hide();
        $('.collection_update').css('opacity', 0);

        $.ajax({
          type:'GET', 
          url:'/cart.js', 
          dataType: 'json',
          success: function(data){
            var items = data.items;

            cart_items = items;

            for(var i in items){
              var temp = [];

              if(items[i].merged)
                continue;

              temp.product_id = items[i].product_id;
              temp.quantity = parseInt(items[i].quantity);
              items[i].merged = true;

              for(var j in items){
                if(i >= j || items[j].merged)
                  continue;

                if(items[i].product_id == items[j].product_id){
                  temp.quantity += parseInt(items[j].quantity);
                  items[j].merged = true;
                }
              }

              var id = 'collection_count_' + temp.product_id;
              $('#'+id).html(temp.quantity);

              var object = $('#'+id).parents('.collection_action:first');
              object.find('.collection_to_cart:first').hide();
              object.find('.collection_update:first').show();
              object.find('.collection_update:first').css('opacity', 1);
            }
          }
        });
    }
    
    $('body').on('afterChangeItem.ajaxCart', function(evt, cart) {
      get_cart_items();
    });

    $('body').on('afterAddItem.ajaxCart', function(evt, cart) {
      get_cart_items();
    });

    function find_cart_quantity(id, action){
        var quantity = 0;
        if(cart_items.length > 0){
            for(var i in cart_items){
                if(cart_items[i].id == id){
                    if(action == 'minus')
                        cart_items[i].quantity -= 1;
                    else if(action == 'plus')
                        cart_items[i].quantity += 1;      

                    quantity = cart_items[i].quantity;

                    break;
                }
            }
        }

        return parseInt(quantity);
    }

    function update_cart_count(action){
        var quantity = parseInt($('#CartCount').html());
        
        if(action == 'minus')
            quantity--;
        else if(action == 'plus')
            quantity++;

        $('#CartCount').html(quantity);
        $('#CartCount_mobile').html(quantity);
    }

    get_cart_items();
    
    $(window).load(function(){
      var match = new RegExp('[?&]cart=([^&]*)').exec(window.location.href);

      var param = match && decodeURIComponent(match[1].replace());

      if(param == 'show'){
          ajaxCart.load();
          timber.RightDrawer.open()
      }
    });
  });
  
//     $(window).scroll(function () {
//       //set scroll position in session storage
//       sessionStorage.scrollPos = $(window).scrollTop();
//     });
//     var init = function () {
//        //return scroll position in session storage
//        $(window).scrollTop(sessionStorage.scrollPos || 0)
//     };
//     window.onload = init;

</script>