<style>
  
  body {
    font-size: 14px;
    line-height: 20px;
  }
  
</style>

{% assign is_imperfect = false %}

{% for collection in product.collections %}
	{% if collection.handle == 'imperfect-goods' %}
		{% assign is_imperfect = true %}
		{% break; %}
	{% endif %}
{% endfor %}

<!-- /templates/product.liquid -->
<div class="memberships_button hiddenBtn" id="checkout_11118"	data-billingid="11118" data-planid="2418" data-approot="https://mem.boldapps.net" data-hash="06ac502d0bd77a332cf0c651ceaed93c" data-label="30 Days For Free" data-domain="morgans-dont-run-out.myshopify.com"></div>
        
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<div id="product_detail" itemscope itemtype="http://schema.org/Product">
  
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
  <meta itemprop="priceCurrency" content="{{ shop.currency }}">

  <div class="row clearfix">
    <div class="column_6">
      <h2 class="margin_bottom_30">{{ product.title }}</h2>
      <img src="{{ featured_image | img_url: 'master' }}" class="fullSize" alt=""/>
      {% if is_imperfect %}
      	<a href="/collections/imperfect-goods" class="desktop">&lt;&nbsp;&nbsp;Back to Imperfect Goods</a>
      {% else %}
      	<a href="/collections/all-products" class="desktop">&lt;&nbsp;&nbsp;Back to all products</a>
      {% endif %}
    </div>
    <div class="column_6">
      <div class="product_description">{{ product.description }}</div>
      
     {% assign hide_ingredients = false %}
      
      {% for tag in product.tags %}
          {% if tag == 'hide-ingredients' %}
            {% assign hide_ingredients = true %}
            {% break %}
          {% endif %}
      {% endfor %}
      {% unless hide_ingredients %}
      <label class="margin_top_30 grey">healthy ingredients with nothing to hide</label>
      
      <div class="specs">
        
      
        {% if product.tags contains "treefree"  %}
        <div class="spec"><span>TF</span><p>tree<br/>free</p></div>
        {% endif %} 
        {% if product.tags contains "bamboo"  %}
        <div class="spec"><span>BB</span><p>bam<br/>boo</p></div>
        {% endif %} 
        {% if product.tags contains "sugarcane"  %}
        <div class="spec"><span>SC</span><p>sugar<br/>cane</p></div>
        {% endif %} 
        {% if product.tags contains "natural-silk"  %}
        <div class="spec"><span>NS</span><p>natural<br/>silk</p></div>
        {% endif %}         
        {% if product.tags contains "biodegradable"  %}
        <div class="spec"><span>BD</span><p>bio<br/>degradable</p></div>
        {% endif %} 
        {% if product.tags contains "septic-safe"  %}
        <div class="spec"><span>SS</span><p>septic<br/>safe</p></div>
        {% endif %}                         
        {% if product.tags contains "paraben-free"  %}
        <div class="spec"><span>PF</span><p>paraben<br/>free</p></div>
        {% endif %}
        {% if product.tags contains "vegan-friendly"  %}
        <div class="spec"><span>VF</span><p>vegan<br/>friendly</p></div>
        {% endif %}
        {% if product.tags contains "sulfate-free"  %}      
        <div class="spec"><span>SF</span><p>sulfate<br/>free</p></div>
        {% endif %}
        {% if product.tags contains "gluten-free"  %}      
        <div class="spec"><span>GF</span><p>gluten<br/>free</p></div>
        {% endif %}
        {% if product.tags contains "natural-fragrance"  %}      
        <div class="spec"><span>NF</span><p>natural<br/>fragrance</p></div>
        {% endif %}   
        {% if product.tags contains "fragrance-free"  %}      
        <div class="spec"><span>FF</span><p>fragrance<br/>free</p></div>
        {% endif %}         
        {% if product.tags contains "cruelty-free"  %}      
        <div class="spec"><span>CF</span><p>cruelty<br/>free</p></div>
        {% endif %}          


       
        
        
      </div>
      {% endunless %}

      {% assign variantNo = product.variants[1] %}
      {% assign variantYes = product.variants[0] %}
      {% assign opacityClass = '' %}

      {% assign checkedNo = 'checked' %}
      {% assign checkedYes = '' %}
      
      {% assign available = true %}
	  {% if product.variants[0].inventory_quantity <= 0 %}
      	{% assign available = false %}
      {% endif %}
      
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          {% assign checkedNo = 'disabled' %}
          {% assign checkedYes = 'checked' %}
          {% assign opacityClass = 'opacity-3' %}
      	  
          {% assign available = true %}
	  	  {% if product.variants[0].inventory_quantity <= 0 %}
      	  	{% assign available = false %}
          {% endif %}
        {% endif %}
      {% endif %}

        
      


      

      <div class="margin_top_50 margin_bottom_50 radios" style="display:none">
        <div class="{{opacityClass}}"><input type="radio" name="product_select" id="productNo" value="{{variantNo.id}}" {{checkedNo}}/><span><font><span class="money" data-product-id="{{ product.id }}">{{ variantNo.price | money }}</span></font> {{ variantNo.title }}</span></div>
        <div><input type="radio" name="product_select" id="productYes" value="{{variantYes.id}}" {{checkedYes}}/><span><font><span class="money" data-product-id="{{ product.id }}">{{ variantYes.price | money }}</span></font> {{ variantYes.title }} ></span></div>
      </div>
      
      <div class="margin_top_50 margin_bottom_50 radios">
        <div ><span><font><span class="money" data-product-id="{{ product.id }}">{{ variantYes.price | money }}</span></font> {{ variantYes.title }}
          
<!--           <br /><br />**The free shipping option includes 1-2 business day processing and an additional 2-6 days for transit within the continental US.  Be sure to choose the appropriate shipping method for your holiday timing needs. -->
		</span></div>
      </div> 
      
      {% if available == true %}
      <div id="cartControl_con">
        <div id="cartControl">
          <span id="cartControl_minus"></span>
          <div>
            <font id="cartControl_count"></font> IN CART
          </div>
          <span id="cartControl_plus"></span>
        </div>
      </div>

<style>      
#addtocartDiv {
    background-color: #DC886C;
}
  #cartControl span{
background-color: #DC886C;
}
</style> 
      
      
      
      	
      {% if customer %}<div id="addtocartDiv">ADD TO CART</div>{% else %}<div id="addtocartDiv" class="subscribe-to-membership-32-45 subscribe-to-membership">ADD TO CART</div>{% endif %}
      {% else %}
      <div id="addtocartDiv_coming">SOLD OUT</div>
      {% endif %}
      
      
      
      <input type="hidden" id="product_id" value="{{product.id}}"/>

      <div class="clear"></div>
      <div style="display:block;height:30px;"></div>
      
      <!--<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical" style="visibility: hidden;">
        <input type="hidden" name="id" value=""/>
        <button type="submit" name="add" id="AddToCart" class="btn">Add to cart</button>  
      </form>!-->

    </div>
  </div>
</div>






<style type="text/css">
  .yotpo.yotpo-main-widget{ margin-bottom: 30px !important;}
  .yotpo-label.yotpo-small-box{ display: none;}
  .yotpo-first-review{ display: none;}
  .yotpo-icon-write:before { content: '+' !important; color: black; font-size: 25px !important;}
  .yotpo .yotpo-regular-box{ padding:10px 0 !important; margin: 0 !important; border-top: none !important; border-bottom: 2px solid #dc886c;}

  .write-review-button .yotpo-icon-button-text{ display: none !important;}
  
  .yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-default-button.write-review-button{
    top: 0 !important;
    color: black;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: block;
    border: 1px solid black;
    border-radius: 40px;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center !important;
  	line-height: 40px !important;
  }
  .yotpo-stars-and-sum-reviews .yotpo-default-button.write-review-button { display: none !important;}

  .yotpo-bottomline .yotpo-icon-empty-star, .yotpo .yotpo-review .yotpo-header .yotpo-review-stars .yotpo-icon-empty-star{ color: #a6a8ab !important;}

  .yotpo .write-review .yotpo-header .yotpo-icon{ color: #EDA937 !important;}
  .yotpo .primary-color-btn.yotpo-disabled, .yotpo input[type="button"].primary-color-btn.yotpo-disabled{
    background-color: #dc886c !important;
  }
  .yotpo .primary-color-btn.yotpo-disabled:hover, .yotpo input[type="button"].primary-color-btn.yotpo-disabled:hover{
    background-color: #dc886c !important;
  }
  .yotpo .primary-color-btn, .yotpo input[type="button"].primary-color-btn{
    background-color: #dc886c !important;
  }
  .yotpo .primary-color-btn:hover, .yotpo input[type="button"].primary-color-btn:hover{
    background-color: #dc886c !important;
  }
  .yotpo .yotpo-nav ul .yotpo-nav-tab.yotpo-active span{
    color: black !important;
  }
  .yotpo .yotpo-review .yotpo-header .yotpo-header-element .y-label.yotpo-user-name{
    color: black !important;
  }

  .yotpo .yotpo-bottomline .yotpo-icon-star, .yotpo .yotpo-review .yotpo-header .yotpo-review-stars .yotpo-icon-star{
    color: #EDA937 !important;
  }
  
  .yotpo.yotpo-main-widget .yotpo-thank-you .yotpo-thankyou-header .yotpo-icon{
  	color: green !important;
  }
  .yotpo.yotpo-main-widget .yotpo-thank-you .yotpo-thankyou-header span{
  	color: green !important;
  }
</style>

<script>
var member = 0;
var cart_items = {};
var mine = [];

{% if shop.customer_accounts_enabled %}
  {% if customer %}
    member = 1;
  {% endif %}
{% endif %}

$(document).ready(function(){
  var product_id = $('#product_id').val();

  var modal = $('#customModal');
  var modalDom = document.getElementById('customModal');

  $('#productYes').click(function(){
    if(member == 0){
        modal.show();
        $('body').css('overflow', 'hidden');
      	return false;
    }
  });
  
  $('#boldTrigger').click(function(){
    $('.modal-close').click();
    $('#checkout_11118 a').click();
  });
  
  $('#cartControl_plus').click(function(){
    var id = $('#productNo').val();

    if($('#productYes').prop("checked"))
      id = $('#productYes').val();

    $.ajax({
      type:'POST', 
      url:'/cart/change.js', 
      data: {id: id, quantity: mine.quantity+1}, 
      dataType: 'json',
      success: function(data){
          update_mine('plus');
          update_cart_count('plus');
          setCartItem(id, {id: $('#productYes').val(), quantity: mine.quantity+1}); 
      }
    });  
  });

  $('#cartControl_minus').click(function(){
    var id = $('#productNo').val();

    if($('#productYes').prop("checked"))
      id = $('#productYes').val();

    $.ajax({
      type:'POST', 
      url:'/cart/change.js', 
      data: {id: id, quantity: mine.quantity-1}, 
      dataType: 'json',
      success: function(data){
          update_mine('minus');
          update_cart_count('minus');
          setCartItem(id, {id: $('#productYes').val(), quantity: mine.quantity-1});
      }
    });  
  });

 $('#addtocartDiv').click(function(){
    var id = $('#productNo').val();

    if($('#productYes').prop("checked"))
      id = $('#productYes').val();

    /*var form = $('#AddToCartForm');
    form.find('input[name="id"]').val(id);

    form.submit();*/
    
    {% for tag in customer.tags %}
      {% if tag == 'member' or tag == 'members' %}
        {% assign nonmember = false %}
      {% endif %}
      {% if tag == 'Unsubscribed' or tag == 'unsubscribed' %}
        {% assign nonmember = true %}
      {% endif %}
    {% endfor %}

    {% if nonmember == false %}
    $.ajax({
      type:'POST', 
      url:'/cart/add', 
      data: {id: id}, 
      dataType: 'json',
      success: function(data){
          update_mine('plus');
          update_cart_count('plus');
          setCartItem(id, {id: $('#productYes').val(), quantity: 1});
      }
    });
    {% endif %}
  });

  $('.modal-close').click(function(){
    modal.hide();
    $('body').css('overflow', 'auto');

    $('#productYes').removeAttr('checked');
    $('#productNo').prop('checked',true);
  });

  $(window).click(function(e){
    if (e.target == modalDom){
      modal.hide();
      $('body').css('overflow', 'auto');
   
      $('#productYes').removeAttr('checked');
      $('#productNo').prop('checked',true);
    }
  });

  function update_mine(action){
    if(action == 'plus')
      mine.quantity++;
    else if(action == 'minus')
      mine.quantity--;


    if(mine.quantity <= 0){
      $('#cartControl_con').hide();
      $('#addtocartDiv').show();
    }else{
      $('#cartControl_count').html(mine.quantity);
      $('#cartControl_con').show();
      $('#addtocartDiv').hide();
    }
  }

  function update_cart_count(action){
      var quantity = parseInt($('#CartCount').html());
      
      if(action == 'minus')
          quantity--;
      else if(action == 'plus')
          quantity++;

      $('#CartCount').html(quantity);
      $('#CartCount_mobile').html(quantity);
  }

  get_cart_items();

  function get_cart_items(){
    $('#addtocartDiv').hide();
    $('#cartControl_con').hide();

    $.ajax({
      type:'GET', 
      url:'/cart.js', 
      dataType: 'json',
      success: function(data){
        var items = data.items;

        cart_items = items;

        mine.quantity = 0;

        for(var i in items){
          if(product_id == items[i].product_id){
            mine.quantity += parseInt(items[i].quantity);
          }
        }

        if(mine.quantity > 0){
          $('#cartControl_count').html(mine.quantity);
          $('#cartControl_con').show();
          $('#addtocartDiv').hide();
        }else{
          $('#addtocartDiv').show();
        }
      }
    });
  }
  
  $('body').on('afterChangeItem.ajaxCart', function(evt, cart) {
    get_cart_items();
  });
  
  $('body').on('afterAddItem.ajaxCart', function(evt, cart) {
    get_cart_items();
  });
});
</script>