{%- comment %}<locksmith:6aff>{% endcomment -%}
  {%- include 'locksmith' -%}
{%- comment %}</locksmith:6aff>{% endcomment -%}

<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head><script>GSXMLHttpRequest = XMLHttpRequest;</script>
  
  <script type="text/javascript">
  (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/1czk4hDZQU9jrmp3MaNi1wqhc05RABHrg6aDSVLd/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
</script>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <style type="text/css">@import url("https://mem.boldapps.net/app_assets/css/bs-modal-only.min.css");</style>
 
  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}
	<script id="stripe_scr" src="//js.stripe.com/v3"></script>
  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  {%- comment %}<locksmith:86bf>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="description" content="{{ page_description | escape }}">{% endif -%}
    {%- comment %}original: <meta name="description" content="{{ page_description | escape }}">{%- endcomment %}
  {%- comment %}</locksmith:86bf>{% endcomment -%}
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  
  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'slick.css' | asset_url | stylesheet_tag }}
  {{ 'slick-theme.css' | asset_url | stylesheet_tag }}
  {{ 'style.css' | asset_url | stylesheet_tag }}
  {{ 'mobile.css' | asset_url | stylesheet_tag }}
  {{ 'copy-exp-landing.css' | asset_url | stylesheet_tag }}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js' | script_tag }}
          {{ '//code.jquery.com/jquery-migrate-1.4.1.js' | script_tag }}
  
{% comment %}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' | script_tag }}
{% endcomment %}  
  
  {{ 'modernizr.min.js' | asset_url | script_tag }}

  {{ 'https://mem.boldapps.net/app_assets/js/bs-modal-only.min.js' | script_tag }}
  {{ '//ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js' | script_tag }}
  {{ '//checkout.stripe.com/checkout.js' | script_tag }}

  <script data-cfasync="false" src="https://mem.boldapps.net/app_assets/js/plan_multibutton.js"></script>

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
  
  <script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
    heap.load("871535579");
  </script>

    <!-- Drip -->

    <script type="text/javascript">

     var _dcq = _dcq || [];

     var _dcs = _dcs || {};

     _dcs.account = '1478138';

     

     (function() {

       var dc = document.createElement('script');

       dc.type = 'text/javascript'; dc.async = true;

       dc.src = '//tag.getdrip.com/1478138.js';

       var s = document.getElementsByTagName('script')[0];

       s.parentNode.insertBefore(dc, s);

     })();

    </script>
   <!-- End Drip -->

  <!-- Start Visual Website Optimizer Asynchronous Code -->
    <script type='text/javascript'>
    var _vwo_code=(function(){
    var account_id=242739,
    settings_tolerance=2000,
    library_tolerance=2500,
    use_existing_jquery=false,
    /* DO NOT EDIT BELOW THIS LINE */
    f=false,d=document;return{use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);var a=d.createElement('style'),b='body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);this.load('//dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&r='+Math.random());return settings_timer;}};}());_vwo_settings_timer=_vwo_code.init();
    </script>
  <!-- End Visual Website Optimizer Asynchronous Code -->

  
  <!--  FuelX Tracking Code Placing Instructions  -->
  <script type="text/javascript">
(function(e,t,u,n,f){
    "use strict";
    e.fx||(e.fuelxEQ=e.fuelxEQ?e.fuelxEQ:[],e.fuelx=function(){e.fuelxP&&e.fuelxP.fuelx?e.fuelxP.handleEvent(arguments):e.fuelxEQ.push(arguments)},
    f=e.document.createElement(t),f.async=!0,f.src=u,n=e.document.getElementsByTagName(t)[0],n.parentNode.insertBefore(f,n))
})(window,"script","https://cdn.fuelx.com/js/tr.js?v1");
</script>
<script type="text/javascript">
    fuelx("init", "8b01ff4899f06fbb60ba47096dc742e8", "roVgsityMT7bRRw1NtFsjg%3D%3D");
    fuelx("pageview");
</script>

  <!--  App Dont-run-out  -->
 <script src="https://dont-run-out-membership.herokuapp.com/public/plans/32/billings/45.js"></script>
<div class="dont-run-out-membership-wrapper" data-button="subscribe-to-membership-32-45" data-wrapper-id="dont-run-out-membership-wrapper-32-45" id="dont-run-out-membership-wrapper-32-45"></div>
  <script src="https://dont-run-out-membership.herokuapp.com/public/plans/42/billings/55.js"></script>
<div 
data-button="subscribe-to-membership-42-55" 
data-wrapper-id="dont-run-out-membership-wrapper-42-55" 
id="dont-run-out-membership-wrapper-42-55" class="dont-run-out-membership-wrapper"></div>
  <script src="https://dont-run-out-membership.herokuapp.com/public/plans/43/billings/56.js"></script>
  <div 
data-button="subscribe-to-membership-43-56" 
data-wrapper-id="dont-run-out-membership-wrapper-43-56" 
id="dont-run-out-membership-wrapper-43-56" class="dont-run-out-membership-wrapper"></div>
   <!--  Snapchat  -->
  <script type='text/javascript'>
  (function(win, doc, sdk_url){
  if(win.snaptr) return;
  var tr=win.snaptr=function(){
  tr.handleRequest? tr.handleRequest.apply(tr, arguments):tr.queue.push(arguments);
};
  tr.queue = [];
  var s='script';
  var new_script_section=doc.createElement(s);
  new_script_section.async=!0;
  new_script_section.src=sdk_url;
  var insert_pos=doc.getElementsByTagName(s)[0];
  insert_pos.parentNode.insertBefore(new_script_section, insert_pos);
})(window, document, 'https://sc-static.net/scevent.min.js');

     function readCookie(name) { var nameEQ = name + "=";    var ca = document.cookie.split(';');
          for(var i=0;i < ca.length;i++) {
              var c = ca[i];
              while (c.charAt(0)==' ') c = c.substring(1,c.length);
              if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
          }
          return null;
      } 
    var custEmail = readCookie("custEmail");
    
  snaptr('init','0b06cb94-c939-4960-8927-1b57017080b7',{
  'user_email':custEmail
})
  snaptr('track','PAGE_VIEW') 
</script>
  
  
  
  <script type="text/javascript">
  (function(e,t){var n=e.amplitude||{_q:[],_iq:{}};var r=t.createElement("script")
  ;r.type="text/javascript";r.async=true
  ;r.src="https://cdn.amplitude.com/libs/amplitude-4.2.1-min.gz.js"
  ;r.onload=function(){if(e.amplitude.runQueuedFunctions){
  e.amplitude.runQueuedFunctions()}else{
  console.log("[Amplitude] Error: could not load SDK")}}
  ;var i=t.getElementsByTagName("script")[0];i.parentNode.insertBefore(r,i)
  ;function s(e,t){e.prototype[t]=function(){
  this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));return this}}
  var o=function(){this._q=[];return this}
  ;var a=["add","append","clearAll","prepend","set","setOnce","unset"]
  ;for(var u=0;u<a.length;u++){s(o,a[u])}n.Identify=o;var c=function(){this._q=[]
  ;return this}
  ;var l=["setProductId","setQuantity","setPrice","setRevenueType","setEventProperties"]
  ;for(var p=0;p<l.length;p++){s(c,l[p])}n.Revenue=c
  ;var d=["init","logEvent","logRevenue","setUserId","setUserProperties","setOptOut","setVersionName","setDomain","setDeviceId","setGlobalUserProperties","identify","clearUserProperties","setGroup","logRevenueV2","regenerateDeviceId","logEventWithTimestamp","logEventWithGroups","setSessionId","resetSessionId"]
  ;function v(e){function t(t){e[t]=function(){
  e._q.push([t].concat(Array.prototype.slice.call(arguments,0)))}}
  for(var n=0;n<d.length;n++){t(d[n])}}v(n);n.getInstance=function(e){
  e=(!e||e.length===0?"$default_instance":e).toLowerCase()
  ;if(!n._iq.hasOwnProperty(e)){n._iq[e]={_q:[]};v(n._iq[e])}return n._iq[e]}
  ;e.amplitude=n})(window,document);

   amplitude.getInstance().init("838c9c2be2906fb07386d8bbfbb14238");
    
    $(function () {
  // Get all utm parameters from query string
  function ampGetQueryParams(qs) {
    qs = qs.split("+").join(" ");

    var params = {}, tokens,
        re = /\butm_([^=]+)=([^&]+)/g;

    while (tokens = re.exec(qs)) {
        params[decodeURIComponent(tokens[1])]
            = decodeURIComponent(tokens[2]);
    }

    return params;
  }

  // Populate the object to be sent to Amplitude
  var utmParams = ampGetQueryParams(document.location.search), propertiesToReport = {};
  for (var param in utmParams) {
    propertiesToReport["utm_" + param] = utmParams[param];
  }

  if(Object.getOwnPropertyNames(propertiesToReport).length !== 0){
    amplitude.getInstance().setUserProperties(propertiesToReport);
  }
})
//     var pg = amplitude.getInstance();
//     pg.logEvent('any page');
</script>
  {% if canonical_url contains '/collections/all' %}
      <meta name="robots" content="noindex">
  {% endif %}
  
<!-- BeginConsistentCartAddon --><script>{% if customer %}Shopify.merge_cart_text = '{{ "consistent_cart_addon.merge_cart_text" | t }}' ;Shopify.customer_logged_in = true ;Shopify.customer_email = "{{ customer.email }}" ;Shopify.log_uuids = true;{% else %}Shopify.customer_logged_in = false ;Shopify.customer_email = "" ;Shopify.log_uuids = true;{% endif %}</script><!-- EndConsistentCartAddon -->
  

</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="free_trial {% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

{% assign member = 0 %}
{% if shop.customer_accounts_enabled %}
  {% if customer %}
    {% assign member = 1 %}
  {% endif %}
{% endif %}
  
<!-- Bold: Memberships -->
{% if customer %}
<div class="bold_customer_id" hidden>{{ customer.id }}</div>
{% endif %}
<!-- end Bold code -->  
  
  {% if settings.ajax_cart_method == "drawer" %}
    <div id="CartDrawer" class="drawer drawer--right">
      <div class="drawer__header">
        <div class="drawer__title h3">{{ 'cart.general.title' | t }}</div>
        <div class="drawer__close js-drawer-close">
          <button type="button" class="icon-fallback-text">
            <span class="icon icon-x" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
          </button>
        </div>
      </div>
      <div id="CartContainer"></div>
    </div>
  {% endif %}

  <div class="is-moved-by-drawer sticky_header publicgoods-header">
    
    {% if page.template_suffix == 'black-friday' %}
      <div style="height:30px; width:100%; background-color:black; text-align:center">  
       <p style="color:white; padding-top:4px; height:30px;">Black Friday exclusive. 50% off-today only.</p>
     </div>
    {% endif %}
    {% if page.template_suffix == 'cyber-monday' %}
      <div style="height:30px; width:100%; background-color:black; text-align:center">  
       <p style="color:white; padding-top:4px; height:30px;">Cyber Monday exclusive. Lifetime memberships $99.</p>
     </div>
    {% endif %}
    {% if page.template_suffix == 'landing-minimalist' or page.template_suffix == 'landing-eco' or page.template_suffix == 'landing-health'%}
      <div style="height:30px; width:100%; background-color:rgb(220, 136, 108); text-align:center">  
       <p style="color:white; padding-top:5px; height:30px;">Add a custom, handwritten note to your gift, on us.</p>
     </div>
    {% endif %}
    
    
    <header>
      <div id="mobile_menu_trigger"><div id="mobile_menu_trigger_inner"></div></div>
      <ul class="left_nav" style= "display: none">
          {% if template == "collection" %}
              {% for link in linklists.collection-menu.links %}
              {%- comment %}<locksmith:0242>{% endcomment -%}
                {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists.collection-menu, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:0242>{% endcomment -%}
              <li {% if link.active %}class="site-nav--active"{% endif %}>
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>  
              {% endfor %}
          {% else %}
              {% for link in linklists.sub-menu.links %}
              {%- comment %}<locksmith:c0ef>{% endcomment -%}
                {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists.sub-menu, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:c0ef>{% endcomment -%}
              <li {% if link.active %}class="site-nav--active"{% endif %}>
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>  
              {% endfor %}
          {% endif %}
     
      </ul>
      
      <a href="/" id="logo" class="copy-exp-logo"><img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo"></a>
      
      <ul class="right_nav" style="display: none">        
        <li class="free-trial-btn-li">
          <a class="subscribe-to-membership free-trial-btn membuttonclick margin_top_30 button-cta">Free Trial</a>
        </li>
        {% if template.suffix != 'altindex' and template.suffix != 'membership-trial' and template != 'product'  and template != 'collection'  %}
          <div style="display:none;" class="memberships_button margin_top_40" id="checkout_11118" data-billingid="11118" data-planid="2418" data-approot="https://mem.boldapps.net" data-hash="06ac502d0bd77a332cf0c651ceaed93c" data-label="Free 30 Day Trial" data-domain="morgans-dont-run-out.myshopify.com"></div>
        {% else %}
          <div style="display:none;" class="memberships_button margin_top_40" id="checkout_10641" data-billingid="10641" data-planid="2237" data-approot="https://mem.boldapps.net" data-hash="e992ecb473cb61b97834158fa7750167" data-label="Join now" data-domain="morgans-dont-run-out.myshopify.com"></div>
        {% endif %}
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <li><a data-cust-email={{ customer.email }} id="custAccountLink" href="/account">{{ 'layout.customer.account' | t }}</a></li>
            <li>{{ 'layout.customer.log_out' | t | customer_logout_link }}</li>
          {% else %}
          {% if collection.handle == 'imperfect-goods' %}
              <li>{{ 'layout.customer.create_account' | t | customer_register_link }}</li>
          {% endif %}
            <li>{{ 'layout.customer.log_in' | t | customer_login_link }}</li>
          {% endif %}
        {% endif %}
        <li><a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">{{ 'layout.cart.title' | t }} <span id="CartCount" style="color:black;">{{ cart.item_count }}</span></a></li>
      </ul>
      
      <div id="mobile_header_cart"><a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">{{ 'layout.cart.title' | t }} <span id="CartCount_mobile">{{ cart.item_count }}</span></a></div>
    </header>

    <div id="mobile_menu">
      <ul>
        {% if template == "collection" %}
          {% for link in linklists.collection-menu.links %}
            {%- comment %}<locksmith:1ea3>{% endcomment -%}
              {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists.collection-menu, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
            {%- comment %}</locksmith:1ea3>{% endcomment -%}
            <li {% if link.active %}class="site-nav--active"{% endif %}>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>  
          {% endfor %}
        {% else %}
          {% for link in linklists.main-menu.links %}
              {%- comment %}<locksmith:3f9d>{% endcomment -%}
                {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists.main-menu, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:3f9d>{% endcomment -%}
              <li {% if link.active %}class="site-nav--active"{% endif %}>
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>  
            {% endfor %}
        {% endif %}
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <li><a href="/account">{{ 'layout.customer.account' | t }}</a></li>
            <li>{{ 'layout.customer.log_out' | t | customer_logout_link }}</li>
          {% else %}
            <!--<li>{{ 'layout.customer.create_account' | t | customer_register_link }}</li>!-->
            <li>{{ 'layout.customer.log_in' | t | customer_login_link }}</li>
          {% endif %}
        {% endif %}
        <li class="free-trial-btn-li">
		  <a class="subscribe-to-membership free-trial-btn membuttonclick margin_top_30 button-cta  
            {% if page.template_suffix == 'half-off' %}subscribe-to-membership-42-55{% endif %}
            {% if page.template_suffix == '99-lifetime' %}subscribe-to-membership-43-56{% endif %}">
            Join Now</a>
        </li>
      </ul>
    </div>
  </div>

  <div id="PageContainer" class="is-moved-by-drawer">
    <div class="mobile" id="forMenu"></div>

    <main role="main">
      {{ content_for_layout }}
    </main>
    
    <footer>
      <!-- REMOVE THE EMAIL CAPTURE IN THE FOOTER IF A CUSTOMER IS LOGGED IN !-->
     
      {% unless customer %} 
      <div class="row clearfix margin_bottom_30">
        <div class="column_12 margin_bottom_20">
          <label>Connect with us</label>
          
         <!--<form action="https://www.getdrip.com/forms/7708152/submissions" class="validate-form footer_submit_form" method="post" data-drip-embedded-form="7708152">
          <input name="fields[email]" id="emailinput"  value="" placeholder="Enter your email" class="drip-text-field" type="email" required>
          <div id="drip-errors-for-email-27436" class="drip-errors" style="display: none"></div>
          <input name="submit" value="Subscribe" id="drip-submit-27436" class="drip-submit-button submit-capture" type="submit">

          <div id="drip-success-panel-27436" class="drip-success drip-panel" style="display: none">
            <p>Thank you.</p>          
          </div>

        </form>!-->
           <form name="email-capture"class="validate-form footer_submit_form">
          <input name="email" id="emailinput"  value="" placeholder="Enter your email" class="drip-text-field" type="email" required>
          <div id="drip-errors-for-email-27436" class="drip-errors" style="display: none"></div>
          <input name="submit" value="Subscribe" id="drip-submit-27436" class="drip-submit-button submit-capture" type="submit">

          <div id="drip-success-panel-27436" class="drip-success drip-panel" style="display: none">
            <p>Thank you.</p>          
          </div>

        </form>
          
        <p id="email-footer-confirmation"></p>
        </div>
        <a name='homepage-footer'></a>
        <div class="column_6" id="email-success">
          <p style='line-height: 18px;'>By clicking Sign Up you agree to receive<br/>marketing emails from PUBLIC GOODS</p>
        </div>
        
        <div class="column_6 footer_social">
          <a href="https://www.pinterest.com/pin/285274957631577543/"><img src="{{ 'pinterest.png' | asset_url }}" alt=""/></a>
          <a href="https://www.facebook.com/GoodPublicGoods/" target="_blank"><img src="{{ 'facebook.png' | asset_url }}" alt=""/></a>
          <a href="https://www.instagram.com/public_goods_/" target="_blank"><img src="{{ 'instagram.png' | asset_url }}" alt=""/></a>
        </div>
      </div>
      {% endunless %} 
      <div class="row clearfix">
        <div class="column_6 footer_menu">
          <a href="mailto:service@publicgoods.com">Contact</a>
          <a href="/pages/shipping">Shipping</a>
          <a href="/pages/careers">Careers</a>
          <a href="/pages/privacy-policy">Privacy Policy</a>
          <a href="/pages/terms-and-conditions">Terms and Service</a>
        </div>
        <div class="column_6 copyright">
          <p>&copy; 2018 PUBLIC GOODS – All Rights Reserved</p>
        </div>
      </div>
    </footer>

    <footer id="copy-exp-landing-footer">

    </footer>
  </div>
  
  <div id="customModal" class="customModal">
    <div class="modal-content">
      <div class="modal-inner-content">
        <span class="modal-close">&times;</span>
        <div class="clear"></div>

        <div class="modal-detail">
          <h1>Excellent Choice. Start your free membership trial.</h1>
          <div class="margin_top_40 margin_bottom_40">
            <a class="button inverted" id="boldTrigger">One Month Free</a>
          </div>
          <p class="margin_bottom_30">Already a member? <a href="/account/login">Login here</a></p>
        </div><!-- Modal Detail End !-->
      </div> <!-- Modal Inner Content End !-->
    </div>
  </div>

  {{ 'fastclick.min.js' | asset_url | script_tag }}
  {{ 'timber.js' | asset_url | script_tag }}
  {{ 'slick.min.js' | asset_url | script_tag }}
  {{ 'jquery.cookie.js' | asset_url | script_tag }}
  {{ 'jquery.initialize.js' | asset_url | script_tag }}
  {{ 'script.js' | asset_url | script_tag }}

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>
  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.ajax_cart_method == "drawer" %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% include 'ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '#AddToCartForm',
          cartContainer: '#CartContainer',
          addToCartSelector: '#AddToCart',
          cartCountSelector: '#CartCount',
          cartCostSelector: '#CartCost',
          moneyFormat: {{ shop.money_format | json }}
        });
      });

      jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
        // Bind to 'afterCartLoad.ajaxCart' to run any javascript after the cart has loaded in the DOM
        timber.RightDrawer.open();
      });
    </script>
  {% endif %}
<!-- CRITEO START -->
{% include 'criteo-tracking' %}
<!-- CRITEO END -->
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67055015-3', 'auto');
  
  ga('send', 'event', 'sales', 'order_success', 'valentines', '[subtotal]');
  ga('send', 'pageview');
  
     
  
  
      function hasHtml5Validation () {
        return typeof document.createElement('input').checkValidity === 'function';
      }

      if (hasHtml5Validation()) {
        $('.validate-form').submit(function (e) {
          if (!this.checkValidity()) {
            e.preventDefault();
            $(this).addClass('invalid');
          } else {
            $(this).removeClass('invalid');
          }
        });
      }
      
      
  
      
//       $('.footer_submit_form ').submit(function (e) {
//         console.log("good");
//         fbq('track', 'Lead');
//       });
      $("#slideshow > div:gt(0)").hide();

      
    
  
  
</script>





<!-- Styling for ApplePay button in the cart !-->

<style>
.additional_checkout_buttons{
  margin-top:10px; 
}
.additional-checkout-button--apple-pay{
  background-color: #67837E !important;
  border-radius: 0px !important;
  min-width: 100% !important;
}
  
.alt-payment-list__item--apple-pay .alt-payment-list__item__link {
  background-color: #67837E !important;
  border-radius: 0px !important;
}
  
  @media (max-width: 737px) {
    .footer_social {
      padding-bottom: 0 !important; 
      margin-top: 30px !important;
    }
  }
  
</style> 


</html>